@import '~@/styles/shared/globals.scss';

.about {
  &__content {
    @include from('xl') {
      margin-top: 54px;
    }
  }

  &__column {
    margin: 0;
    position: relative;
    margin-top: 40px;

    font-size: 16px;
    line-height: 1.37;
    color: $--color-text-600;

    @include from('xl') {
      margin-top: 0;
    }

    &:before {
      position: absolute;
      top: -11px;
      left: 0;

      content: '';
      width: 88px;
      height: 2px;
      background-color: $--color-background-brand;
    }
  }
}
