@import '~@/styles/shared/globals.scss';

.banner {
  position: relative;
  margin-bottom: 16px;
  
  @include from('lg') {
    margin-bottom: 30px;
  }

  &__picture {
    margin-right: -$--page-padding-x-xs;
    margin-left: -$--page-padding-x-xs;

    @include from('lg') {
      margin-right: 0;
      margin-left: 30%;
      width: 70%;

      img {
        width: 100%;
      }

      &--inverse {
        margin-left: 0;
        margin-right: 30%;
      }
    }
  }

  &__overlay {
    position: relative;
    margin-top: -32px;
    padding: 16px;
    background: $--color-background-contrast-700;
    color: $--color-text--contrast;
    font-size: $--font-size-900;
    font-weight: $--font-weight-light;
    line-height: $--font-line-height-xs;
    letter-spacing: $--font-letter-spacing-small;
    strong {
      color: $--color-text-brand;
      font-weight: inherit;
    }

    @include from('lg') {
      position: absolute;
      left: 0;
      top: 96px;
      width: 44%;
      padding: 16px 36px 64px;
      font-size: 53px;
      font-weight: $--font-weight-ultra-light;
      border-radius: $--border-radius;

      &--inverse {
        text-align: right;
        left: auto;
        right: 0;
      }
    }

    @include from('2xl') {
      top: 30%;
      width: 36%;
      background: red;
    }

    &--brand {
      background: $--color-background-brand;
      color: $--color-text--contrast;
      strong {
        color: $--color-text-600;
      }
    }
  }

  &__link {
    margin: 16px 24px;

    @include from('lg') {
      position: absolute;
      left: 36px;
      bottom: 0;
      margin: 0;

      &--inverse {
        text-align: right;
        left: auto;
        right: 36px;
      }
    }
  }
}
