@import '~@/styles/shared/globals.scss';

.breadcrumbs-catalog {
  @include from('xl') {
    display: none;
  }
}

.breadcrumbs {
  $this: &;
  padding-top: 20px;
  margin-bottom: 24px;

  @include from('xl') {
    padding-top: 40px;
    margin-bottom: 20px;
  }

  &__inner {
    position: relative;
    margin-left: 53px;
    list-style: none;
    padding: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include from('xl') {
      margin-left: 0;
    }
  }

  &__back {
    position: absolute;
    right: calc(100% + 33px);
    top: 0;
    display: block;
    color: $--color-text;

    @include from('xl') {
      right: calc(100% + 85px);
    }
  }

  &__back-arrow {
    width: 20px;
    height: 23px;
    transform: rotate(180deg);
  }

  &__section {
    font-weight: 300;
    font-size: 35px;
    color: $--color-text-brand;

    &--muted {
      margin-left: 0.5em;
      margin-top: 0.5em;

      font-style: italic;
      font-size: 16px;
      color: $--color-text-600;
      text-decoration: none;

      &:before {
        background: $--color-text-600;
        content: '';
        display: inline-block;
        width: 0.75em;
        height: 0.01em;
        vertical-align: middle;
        margin-right: 0.3em;
      }

      &#{$this}__section--active {
        font-weight: bold;
      }
    }
  }

  &--catalog {
    #{$this}__inner {
      @include to('xl') {
        margin-left: 32px;
        margin-top: 0;
      }
    }

    #{$this}__back {
      right: calc(100% + 12px);
      top: 9px;

      @include from('xl') {
        display: none;
      }
    }

    #{$this}__section {
      &:nth-of-type(2) {
        margin-left: 0;

        &:before {
          display: none;
        }
      }

      &--muted {
        @include to('xl') {
          margin-left: 0;
          font-size: 27px;
          color: $--color-text-brand;
        }

        &:before {
          display: none;

          @include from('xl') {
            display: inline-block;
          }
        }

        &:after {
          display: inline-block;
          content: '→';
          background: transparent;
          height: auto;
          width: auto;
          vertical-align: baseline;
          margin-left: 0.3em;
          margin-right: 0.3em;

          @include from('xl') {
            display: none;
          }
        }
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }

      &#{$this}__section--active {
        @include to('xl') {
          font-weight: normal;
        }
      }
    }
  }
}
