@import '~@/styles/shared/globals.scss';

.breadcrumbs {
  $this: &;
  padding-top: 20px;
  margin-bottom: 24px;

  @include from('xl') {
    padding-top: 40px;
    margin-bottom: 20px;
  }

  &__inner {
    position: relative;
    margin-left: 53px;
    list-style: none;
    padding: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include from('xl') {
      margin-left: 0;
    }
  }

  &__back {
    position: absolute;
    right: calc(100% + 33px);
    top: 0;
    display: block;
    color: $--color-text;

    @include from('xl') {
      right: calc(100% + 85px);
    }
  }

  &__back-arrow {
    width: 20px;
    height: 23px;
    transform: rotate(180deg);
  }

  &__section {
    font-weight: 300;
    font-size: 35px;
    color: $--color-text-brand;
    & + & {
      margin-right: 0.5em;
    }

    &--muted {
      margin-top: 0.5em;

      font-style: italic;
      font-size: 16px;
      color: $--color-text-600;
      text-decoration: none;

      &:before {
        background: $--color-text-600;
        content: '';
        display: inline-block;
        width: 0.75em;
        height: 1px;
        vertical-align: middle;
        margin-right: 0.3em;
      }

      a:hover span {
        text-decoration: underline;
      }

      &#{$this}__section--active span {
        font-weight: bold;
      }
    }
  }

  &--catalog {
    margin-bottom: 0;

    #{$this}__inner {
      margin-top: 0;
      margin-bottom: 0;
      @include to('xl') {
        margin-left: 0;
      }
    }

    #{$this}__back {
      display: none;
    }

    #{$this}__section {
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        &:before {
          display: none;
        }
      }
    }
  }
}
