@import '~@/styles/shared/globals.scss';

.breadcrumbs {
  $this: &;
  padding-top: 20px;
  margin-bottom: 24px;

  @include from('xl') {
    padding-top: 40px;
    margin-bottom: 20px;
  }

  &__inner {
    position: relative;
    margin-left: 53px;
    list-style: none;
    padding: 0;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include from('xl') {
      margin-left: 0;
    }
  }

  &__back {
    position: absolute;
    right: calc(100% + 33px);
    top: 0;
    display: block;
    color: $--color-text;

    @include from('xl') {
      right: calc(100% + 85px);
    }
  }

  &__back-arrow {
    width: 20px;
    height: 23px;
    transform: rotate(180deg);
  }

  &__section {
    font-weight: 300;
    font-size: 35px;
    color: $--color-text-brand;

    &--muted {
      margin-left: 0.5em;
      margin-top: 0.5em;

      font-style: italic;
      font-size: 16px;
      color: $--color-text-600;
      text-decoration: none;

      &:before {
        content: '—';
        margin-right: 0.3em;
      }
      &#{$this}__section--active {
        font-weight: bold;
      }
    }
  }
}