@import '~@/styles/shared/globals.scss';

.catalog-menu {
  $this: &;

  &__item {
    position: relative;
    font-weight: $--font-weight-medium;
    font-size: $--font-size-500;
    line-height: $--font-line-height-small;
    color: $--color-text-brand;

    &:before {
      position: absolute;
      content: '';
      height: 1px;
      left: -$--page-padding-x-xl;
      top: 0;
      right: 40px;
      background-color: $--color-text-contrast-500;
      transform: translateX(-20px);
    }

    &--active {
      #{$this}__list--child {
        display: block;
      }
    }

    a {
      display: block;
      padding: 12px 0;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    padding-right: 20px;

    &--child {
      display: none;
      height: 404px;
      margin-top: 6px;
      margin-bottom: 16px;

      list-style-type: disc;
      padding-left: 22px;

      #{$this}__item {
        font-weight: $--font-weight-regular;
        font-size: $--font-size-200;
        line-height: $--font-line-height-large;
        color: $--color-text-600;

        &:before {
          display: none;
        }
        a {
          padding: 0;
        }
      }

      &#{$this}__list--active {
        display: block;
      }
    }
  }

  &__category {
    position: relative;
  }

  &--plain {
    #{$this}__toggle {
      position: absolute;
      top: 0;
      right: 40px;
      padding: 26px;
      cursor: pointer;

      font-size: 0;
      border: none;
      box-shadow: none;
      background-color: transparent;
      color: transparent;

      &:after {
        position: absolute;
        content: '';
        top: 22px;
        right: 18px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $--color-text-600;

        transform: rotate(-90deg);
      }

      &:hover {
        &:after {
          border-top-color: $--color-text-brand;
        }
      }

      &--active {
        &:after {
          transform: rotate(0);
        }
      }
    }

    & > #{$this}__item > #{$this}__category > a {
      &:before {
        background-color: $--color-text-contrast-600;
      }
    }

    #{$this}__item {
      span {
        padding-right: 60px;
      }
    }

    #{$this}__child {
      height: 404px;
    }
  }
}
