@import '~@/styles/shared/globals.scss';

.catalog-special {
  margin-top: 58px;

  @include from('lg') {
    margin-top: 18px;
  }

  @include from('xl') {
    margin-top: 56px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    color: $--color-text-600;

    @include from('lg') {
      font-size: 35px;
    }
    
    @include from('xl') {
      margin-bottom: 34px;
    }
  }
}
