@import '~@/styles/shared/globals.scss';

.category-card {
  $this: &;

  position: relative;
  display: block;
  margin-bottom: 30px;

  background-color: $--color-background-700;
  color: $--color-text-brand;

  @include from('lg') {
    height: calc(100% - 20px);
  }

  &:before {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -$--page-padding-x-xs;
    right: -$--page-padding-x-xs;
    z-index: -1;

    content: '';
    background-color: $--color-background-700;

    box-shadow: inset 0 0 0 10px $--color-background-contrast-300;

    @include from('lg') {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      padding: 0;
      box-shadow: none;
    }
  }

  &__expander {
    padding: 14px 4px;

    @include from('lg') {
      height: 100%;
      padding: 14px 18px 22px;
    }
  }

  &__top {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 10px;
    border-bottom: 2px solid $--color-background-400;
    padding-bottom: 8px;

    @include from('lg') {
      height: 25%;
    }

    @include from('xxl') {
      height: 20%;
    }

    @include from('xxxl') {
      height: 16%;
    }
  }

  &__title {
    margin: 0;
    margin-right: 10px;
    box-sizing: content-box;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: $--color-text-600;

    @include from('lg') {
      color: $--color-text-brand;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    color: $--color-text-contrast-600;
    background-color: $--color-background-contrast-600;
    border-radius: $--border-radius-button;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 50%;

    img {
      position: absolute;
      height: 100%;
      width: 100%;

      object-fit: contain;
      object-position: center;
    }
  }

  @include from('lg') {
    &:hover {
      z-index: 1;

      &:before {
        top: -8px;
        right: -16px;
        left: -16px;

        box-shadow: 0 0 0 10px $--color-background-contrast-300;
      }

      #{$this}__title {
        text-decoration: underline;
        color: $--color-text-600;
      }
    }
  }
}
