@import '~@/styles/shared/globals.scss';

.city {
  margin-bottom: 32px;

  @include from('xl') {
    margin-bottom: 0;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.46;
  }

  &__label {
    &--brand {
      color: $--color-text-brand;
    }
  }

  &__pin {
    width: 18px;
    height: 25px;
    color: $--color-text-brand;
  }

  &__address {
    margin-top: -2px;
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $--color-text-500;

    &--brand {
      color: $--color-text-brand;
    }
  }

  &__manager {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    color: $--color-text-600;
  }

  &__position {
    margin-bottom: 1.5em;
    font-size: 18px;
    line-height: 1.3;
    color: $--color-text-500;
  }

  &__phone,
  &__email {
    display: block;
    color: $--color-text-600;

    font-size: 18px;
    line-height: 1.3;
    color: $--color-text-500;

    &:hover {
      color: $--color-background-contrast-500;
    }

    &--leading {
      font-size: 24px;
      line-height: 1.2;
      color: $--color-text-600;

      &:hover {
        color: $--color-text-500;
      }

      @include from('xl') {
        text-align: right;
      }
    }

    &--strong {
      font-weight: 500;
    }
  }

  &__map-container {
    height: 466px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 26px 0 30px;

    @include from('lg') {
      margin: 26px 0 50px;
    }
  }

  &__map {
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}
