@import '~@/styles/shared/globals.scss';

.city-contacts {
  $this: &;

  margin: 0;
  list-style: none;

  &--header {
    display: none;

    @include from('xl') {
      height: 50px;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      background-color: $--color-background-500;
    }

    #{$this}__contact {
      @include from('xl') {
        height: 100%;
        padding: 15px 43px;

        color: $--color-text;

        &:first-of-type {
          padding-left: 50px;
        }

        a {
          &:hover {
            border-bottom: 1px solid $--color-text;
          }
        }

        &--city {
          a {
            border-bottom: 1px solid $--color-text;

            &:hover {
              border-bottom-width: 0;
            }
          }
        }
      }
    }
  }

  &--hamburger-menu {
    margin-left: 1.5vmax;

    @include from('xl') {
      margin-left: 0;
      margin-top: 50px;
      width: 25%;
    }

    #{$this}__contact {
      margin-top: 8px;

      font-size: 3.5vmax;
      font-weight: normal;
      color: $--color-text-brand;

      @include from('xl') {
        font-size: 21px;
        margin-bottom: 58px;
        white-space: nowrap;
      }
    }

    #{$this}__contact-icon {
      display: none;

      @include from('xl') {
        display: inline-block;
        color: $--color-background-700;
        vertical-align: middle;
        margin-right: 14px;

        &--pin {
          width: 18px;
          height: 25px;
        }
        &--phone {
          width: 22px;
          height: 22px;
        }
        &--email {
          width: 24px;
          height: 24px;
        }
      }
    }

    #{$this}__contact-link {
      display: inline-block;
      color: inherit;
      text-decoration: none;

      &--city {
        a {
          border-bottom: 2px solid $--color-text-brand;

          @include from('xl') {
            border-bottom-width: 1px;
          }
        }
      }
    }
  }

  &--footer {
    #{$this}__contact {
      display: block;
      margin-bottom: 0.5em;
      font-size: $--font-size-300;
      color: $--color-text-brand;
      @include from('xxl') {
        font-size: $--font-size-500;
      }
      &--city {
        font-weight: $--font-weight-bold;
      }

      a {
        &:hover {
          border-bottom: 1px solid;
        }
      }
    }
  }
}
