@import '~@/styles/shared/globals.scss';

.companies {
  margin-bottom: 22px;

  @include from('xl') {
    margin-bottom: 0;
  }

  &__description {
    font-size: $--font-size-200;
    font-weight: $--font-weight-regular;
    line-height: $--font-line-height-small;
    letter-spacing: $--font-letter-spacing-small;
    color: #000000;
  }

  & p {
    margin: 5px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include from(lg) {
      align-items: flex-end;
    }
  }

  &__title {
    font-size: $--font-size-750;
    font-weight: $--font-weight-regular;
    line-height: $--font-line-height-xs;
    margin: 0;

    @include from(lg) {
      line-height: $--font-line-height-small;
      letter-spacing: $--font-letter-spacing-small;
      max-width: 145px;
    }
  }
}
