@import '~@/styles/shared/globals.scss';

.dropdown {
  $this: &;

  $space-horizontal: 8px;
  $space-vertical: 15px;

  position: relative;

  &__options {
    display: none;
    position: absolute;
    width: 100%;
  }

  &__selected {
    display: block;
    height: 100%;
    box-sizing: border-box;
    padding: $space-vertical 43px $space-vertical 50px;
    background: none;
    border: none;
    margin: 0;
    cursor: pointer;
    &:hover,
    &:active {
      background-color: $--color-background-700;
    }
  }

  &__item {
    display: block;
    padding: $space-vertical $space-horizontal;
    background-color: $--color-background-700;
    white-space: nowrap;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $--color-background-brand;
      color: $--color-text-contrast-600;
    }
  }

  &:active,
  &:focus-within {
    #{$this}__options {
      display: block;
    }
    #{$this}__selected {
      background: $--color-background-700;
    }
  }
}
