@import '~@/styles/shared/globals.scss';

.news {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -20px;
  padding-left: $--page-padding-x-xs;
  padding-right: $--page-padding-x-xs;
  @include from('xl') {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: nowrap;

    &--homepage {
      margin-bottom: 40px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    @include from('xl') {
      width: 1 / 6 * 100%;
      margin-bottom: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__show-all {
    margin-top: 2px;
  }

  &__title {
    font-size: $--font-size-750;
    font-weight: $--font-weight-regular;
    line-height: $--font-line-height-xs;
    margin: 0;
    max-width: 100%;

    @include from('xl') {
      font-size: $--font-size-750;
      line-height: $--font-line-height-small;
      letter-spacing: $--font-letter-spacing-small;
      color: #1d1d1b;
      margin-right: $--gutter;
    }
  }

  &__list-scroller {
    @include from('xl') {
      width: 5 / 6 * 100%;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    margin: -2vh $--gutter * -0.5 2vh;

    &--scrollable {
      margin: -3vw $--gutter * -0.5 -3vw;

      @include to('xl') {
        width: 400vw;
        margin: 0 $--gutter * -0.5;

        @include from('sm') {
          width: 300vw;
        }

        @include from('md') {
          width: 200vw;
        }

        @include from('lg') {
          width: 150vw;
        }
      }
    }
  }

  @include to('xl') {
    &__list-scroller {
      overflow-x: scroll;
      width: calc(100% + #{$--page-padding-x-xs * 2});
      margin: 0 $--page-padding-x-xs * -1 70px;
    }
  }

  &__item {
    width: 100%;
    padding: 0 $--gutter * 0.5;
    margin: $--page-padding-x-xs 0;

    @include from('sm') {
      width: 50%;
    }

    @include from('md') {
      width: 33%;
    }

    @include from('lg') {
      width: 25%;
    }

    @include from('xl') {
      width: 20%;
    }

    @include to('xl') {
      &--scrollable {
        width: 20%;
        margin: 0;
      }
    }
  }
}
