@import '~@/styles/shared/globals.scss';

.order-form {
  display: none;
  position: fixed;
  z-index: 3000;
  top: $--header-height;
  @include from('xl') {
    top: 0;
  }
  left: 0;
  right: 0;
  bottom: 0;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    opacity: 0.7;
    background-color: $--color-background-contrast-700;
  }
  &__card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $--color-background-500;
    padding: 26px 30px;
    box-sizing: border-box;

    @include from('md') {
      top: 40%;
      left: 50%;
      right: auto;
      bottom: auto;

      width: 490px;

      transform: translate(-50%, -50%);
    }

    @include from('xl') {
      border-radius: $--border-radius;
    }
  }
  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;

    @include from('xl') {
      font-size: 35px;
    }
  }
  &__description {
    margin-bottom: 18px;
  }
  &__form {
  }
  &__close-button {
    position: absolute;
    right: 30px;
    top: 26px;
    cursor: pointer;

    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: $--color-text-600;
    background-color: transparent;

    @include from('md') {
      top: 2vw;
      right: 2vw;
      color: $--color-text-contrast-600;
    }

    &:hover {
      color: $--color-text-500;

      @include from('md') {
        color: $--color-text-contrast-500;
      }
    }

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
