@import '~@/styles/shared/globals.scss';

.product {
  $this: &;

  &__card {
    min-width: 100%;
    margin-left: -$--page-padding-x-xs;
    margin-right: -$--page-padding-x-xs;

    overflow: hidden;
    margin-bottom: 12px;
    background-color: $--color-background-500;

    @include from('md') {
      margin-left: 0;
      margin-right: 0;

      display: flex;
      flex-flow: row nowrap;

      margin-bottom: 20px;
      border-radius: 5px;
    }
  }

  &__main {
    min-width: 100%;
    margin-left: -$--page-padding-x-xs;
    margin-right: -$--page-padding-x-xs;
    padding: 16px 20px 0 20px;

    position: relative;
    background-color: $--color-background-500;

    @include from('xl') {
      margin-left: 0;
      margin-right: 0;

      padding: 12px 20px 0 20px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &__desktop-image {
    display: none;

    @include from('md') {
      position: relative;
      display: block;
      min-width: 332px;
      width: 332px;
      min-height: 332px;
      background-color: $--color-background-700;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    @include from('xxl') {
      min-width: 414px;
      width: 414px;
      min-height: 414px;
    }
  }

  &__card-content {
    padding: 0 20px 20px;

    @include from('md') {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      padding: 14px 24px 28px 20px;
    }
  }

  &__title {
    margin: 0;
    padding: 0 20px 16px;
    margin-left: -20px;
    margin-right: -20px;

    font-weight: 300;
    font-size: 30px;
    line-height: 1;
    color: $--color-text-600;
    background-color: $--color-background-400;

    @include from('md') {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 26px;
      background-color: unset;

      font-size: 35px;
      line-height: 1.3;
    }
  }

  &__mobile-image {
    position: relative;
    display: block;
    padding-bottom: 64%;

    min-width: 100%;
    margin-left: -20px;
    margin-right: -20px;

    background-color: $--color-background-700;

    img {
      position: absolute;
      width: 100%;
      height: 100%;

      object-fit: contain;
      object-position: center;
    }

    @include from('md') {
      display: none;
    }
  }

  &__code {
    margin-top: 24px;
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 25px;
    line-height: 1.3;
    color: $--color-text-brand;

    @include from('md') {
      margin-top: 0;
    }
  }

  &__short-description {
    font-size: 16px;
    line-height: 1.3;
    color: $--color-text-600;
    margin-bottom: 26px;

    p {
      margin: 0;
    }

    @include from('md') {
      margin-bottom: 10px;
      flex-grow: 1;
    }
  }

  &__card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-flow: column nowrap;

    @include from('xs') {
      flex-direction: row;
    }
  }

  &__price {
    color: $--color-text-600;
    line-height: 1.3;

    #{$this}__old-price + #{$this}__new-price {
      margin-top: -6px;
      font-size: 26px;
    }
  }

  &__old-price {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;

    &:after {
      position: absolute;
      top: 50%;
      left: -14px;
      right: -14px;
      content: '';

      height: 2px;
      background-color: $--color-background-brand;
    }
  }

  &__new-price {
    font-weight: 500;
    font-size: 36px;
  }

  &__description {
    @include from('xl') {
      ul {
        padding-left: 18px;
      }

      .typography {
        div,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul,
        ol {
          max-width: 70%;
        }
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    color: $--color-text-brand;

    @include from('xl') {
      font-size: 35px;
    }
  }

  &__print {
    display: none;

    @include from('xl') {
      display: flex;
      align-items: center;

      position: absolute;
      top: 20px;
      right: 22px;

      border: none;
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      color: $--color-text-600;
      text-align: left;
    }
  }

  &__print-icon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    color: $--color-background-brand;
  }

  &__files {
    margin-top: 36px;
    margin-bottom: 22px;

    @include from('xl') {
      margin-top: 46px;
      margin-bottom: 4px;
    }
  }

  &__file {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 14px;

    @include from('xl') {
      margin-bottom: 46px;
    }

    &:hover {
      #{$this}__file-name {
        color: $--color-text-500;
      }
    }
  }

  &__file-icon {
    width: 50px;
    height: 52px;
    margin-right: 14px;

    color: $--color-text-600;
  }

  &__file-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: $--color-text-brand;
  }

  &__video {
    width: 100%;
    height: 55%;
    margin-bottom: 12px;

    @include from('xl') {
      height: 214px;
      margin-bottom: 24px;
    }
  }

  &__bottom {
    display: flex;
    flex-flow: column nowrap;
    background-color: $--color-background-500;
    padding: 0 20px 20px;

    margin-left: -$--page-padding-x-xs;
    margin-right: -$--page-padding-x-xs;

    #{$this}__title {
      background-color: unset;
      padding: 0;
      margin-bottom: 20px;
    }

    @include from('xl') {
      margin-left: 0;
      margin-right: 0;

      flex-direction: row;
      background-color: $--color-background-700;
      padding: 0;

      #{$this}__title {
        margin-bottom: 26px;
      }
    }
  }

  &__bottom-image {
    width: 100%;

    img {
      width: 100%;
    }

    @include from('xl') {
      position: relative;
      min-width: 396px;
      width: 396px;
      padding-bottom: 186px;
      background-color: $--color-background-700;

      margin-right: 36px;

      img {
        position: absolute;
        width: 100%;
        height: 100%;

        object-fit: contain;
        object-position: center;
      }
    }
  }
}
