@import '~@/styles/shared/globals.scss';

$product-card: '.product-card';

.product-list {
  $this: &;

  display: flex;
  flex-flow: row wrap;

  margin-right: $--gutter * -0.5;
  margin-left: $--gutter * -0.5;

  #{$product-card} {
    display: block;
    margin-bottom: 12px;

    max-width: 100%;
    flex-basis: 100%;

    padding-right: $--gutter * 0.5;
    padding-left: $--gutter * 0.5;

    @include from('xl') {
      margin-bottom: 18px;
    }

    &__inner {
      position: relative;
      height: 100%;
      margin-left: -$--page-padding-x-xs;
      margin-right: -$--page-padding-x-xs;

      @include from('lg') {
        width: 100%;

        margin-left: 0;
        margin-right: 0;
      }
    }

    &__expander {
      padding: 14px 18px 10px;
      background-color: $--color-background-700;

      @include from('xl') {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }

    &__title {
      margin: 0;

      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      color: $--color-text-brand;
      padding-bottom: 8px;
      margin-bottom: 8px;

      border-bottom: 2px solid $--color-background-400;
    }

    &__image {
      position: relative;
      width: 100%;
      height: 169px;

      @media all and (-ms-high-contrast: none) {
        overflow: hidden;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;

        object-fit: contain;
        object-position: center;

        @media all and (-ms-high-contrast: none) {
          height: auto;
          max-width: 100%;
        }
      }

      &--card {
      }

      &--compact {
        display: none;

        @include from('xl') {
          flex-basis: 216px;
          min-width: 216px;
          height: 174px;
        }
      }
    }

    &__info {
      @include from('xl') {
        display: none;
      }
    }

    &__description {
      margin-bottom: 18px;

      font-size: 16px;
      line-height: 1.5;
      color: $--color-text-600;
      padding-bottom: 20px;
      border-bottom: 2px solid $--color-background-400;

      p {
        margin: 0;
      }
    }

    &__bottom {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      text-align: center;

      @include from('xs') {
        flex-direction: row;
      }
    }

    &__price {
      color: $--color-text-600;
      line-height: 1.3;

      #{$product-card}__old-price + #{$product-card}__new-price {
        margin-top: -6px;
        font-size: 26px;
      }
    }

    &__old-price {
      position: relative;
      display: inline-block;
      font-weight: 500;
      font-size: 16px;

      &:after {
        position: absolute;
        top: 50%;
        left: -14px;
        right: -14px;
        content: '';

        height: 2px;
        background-color: $--color-background-brand;
      }
    }

    &__new-price {
      font-weight: 500;
      font-size: 36px;
    }

    &__button {
    }

    &__novelty {
      position: absolute;
      top: 36%;
      left: 50%;
      transform: translate(-50%, 0);

      color: $--color-text-contrast-600;
      background: $--color-background-contrast-300;
      border-radius: 20px;

      padding: 10px 40px;
      text-align: center;
    }
  }

  &--card {
    margin-bottom: 20px;

    @include from('xl') {
      #{$product-card} {
        min-height: 260px;

        margin-left: 0;
        margin-right: 0;

        max-width: 50%;
        flex-basis: 50%;

        &:hover {
          z-index: 1;

          #{$product-card}__expander {
            top: -16px;
            right: -20px;
            left: -20px;
            bottom: auto;

            padding: 30px 38px 10px;
            box-shadow: $--card-shadow;
          }

          #{$product-card}__info {
            display: block;
          }

          #{$product-card}__title {
            text-decoration: underline;
            color: $--color-text-600;
          }
        }
      }

      #{$product-card}__image {
        &--card {
          display: block;
        }

        &--compact {
          display: none;
        }
      }

      #{$product-card}__bottom {
        margin-bottom: 26px;
      }

      #{$product-card}__button {
        margin-left: auto;
      }
    }
  }

  &--compact {
    margin-bottom: 30px;

    @include from('xl') {
      #{$product-card} {
        min-height: 174px;

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8px;

        max-width: 100%;
        flex-basis: 100%;

        &:hover {
          z-index: 1;

          #{$product-card}__expander {
            margin-left: -20px;
            margin-right: -20px;

            padding: 0 20px;
          }

          #{$product-card}__card-content {
            background-color: $--color-background-700;
          }

          #{$product-card}__novelty {
            background-color: $--color-background-600;
          }
        }
      }

      #{$product-card}__expander {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
      }

      #{$product-card}__card-content {
        flex-grow: 1;
        padding: 10px 16px 18px 18px;
        background-color: $--color-background-800;
      }

      #{$product-card}__title {
        font-weight: 300;
        font-size: 30px;
        border-bottom: none;
        padding-bottom: 2px;
      }

      #{$product-card}__info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        min-height: 102px;
      }

      #{$product-card}__description {
        margin-bottom: 18px;

        border-bottom: none;
        padding-bottom: 0;

        line-height: 1.2;
      }

      #{$product-card}__image {
        &--card {
          display: none;
        }

        &--compact {
          display: block;
        }
      }

      #{$product-card}__novelty {
        position: static;
        color: $--color-text-600;
        background-color: $--color-background-700;
        transform: none;
      }

      #{$product-card}__button {
        order: -1;
      }

      #{$product-card}__price {
        margin-right: auto;
        margin-left: 20px;
      }
    }
  }
}
