@import '~@/styles/shared/globals.scss';

.section {
  position: relative;
  @include from('xl') {
    padding: 40px 0;
  }

  &--narrow {
    @include from('xl') {
      padding: 0;
    }
  }

  &--highlight-from-top {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 8%;
      z-index: -1;
      background: $--color-background-700;

      @include from('xl') {
        top: 20%;
      }
    }
  }

  @include from('xl') {
    &--highlight {
      background: $--color-background-700;
    }

    &--highlight-bottom {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 54%;
        z-index: -1;
        background: $--color-background-700;
      }
    }

    &--strong-bottom {
      // add space before footer on desktop
      padding-bottom: 54px;
    }
  }
}
