@import '~@/styles/shared/globals.scss';

.specials-item {
  $this: &;

  display: block;
  margin-bottom: 32px;

  &__picture {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;

    width: 100%;
    padding-bottom: 70%;
    background-color: $--color-background-700;

    @include from('xl') {
      border-radius: 5px;
    }

    @media all and (-ms-high-contrast: none) {
      overflow: hidden;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    width: 100%;

    object-fit: contain;
    object-position: center;

    @media all and (-ms-high-contrast: none) {
      display: block;
      margin: auto;
      width: auto;
      max-width: 100%;
    }
  }

  &__read-more {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    color: $--color-text-contrast-600;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';

      background-color: $--color-background-contrast-300;
      color: $--color-text-contrast-600;
      opacity: 0;

      transition-property: opacity;
      transition-duration: $--duration-200;
      transition-timing-function: $--timing-in-out-spring;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 60px;
      height: 70px;
      transform: translate(-80%, -50%);
      opacity: 0;

      transition-property: all;
      transition-duration: $--duration-200;
      transition-timing-function: linear;
    }
  }

  &:hover {
    #{$this}__read-more {
      &:before {
        opacity: 0.7;
      }

      svg {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__bottom {
    display: flex;
    flex-flow: row nowrap;
  }

  &__bottom-icon {
    margin-right: 14px;
    color: $--color-text-brand;

    svg {
      width: 10px;
      height: 22px;
    }
  }

  &__heading {
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.1;
    color: $--color-text-600;
  }

  &__link {
    font-size: 16px;
    line-height: 1.3;
    color: $--color-text-brand;
  }
}
