@import '~@/styles/shared/globals.scss';

.testimonial {
  & + & {
    margin-top: 30px;

    @include from('lg') {
      margin-top: 50px;
    }
  }

  &__image {
    position: relative;
    cursor: pointer;
    margin-top: 16px;

    @include from('xl') {
      margin-top: 0;
    }

    img {
      display: block;
      margin: 0 auto;

      @include from('xl') {
        width: 100%;
      }
    }
  }

  &__zoom-image {
    $zoom: &;

    display: none;

    @include from('xl') {
      display: block;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      z-index: 1;
      color: $--color-text-contrast-600;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        content: '';
        background-color: $--color-background-brand;

        opacity: 0;
        transition: opacity $--duration-100 linear;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 32px;
        height: 32px;

        opacity: 0;
        transition: opacity $--duration-100 linear;
      }

      &:hover {
        &:before {
          opacity: 0.7;
        }

        svg {
          opacity: 1;
        }
      }
    }
  }


  &__subtitle {
    display: flex;
    flex-flow: row wrap;
    margin: 0;

    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    color: $--color-text-brand;
  }

  &__client {
    margin-right: 13px;
  }

  &__title {
    margin: 0;
    margin: 6px 0 16px;

    font-weight: 300;
    font-size: 30px;
    line-height: 1.5;
    color: $--color-text-600;
  }

  &__text {
  }
}
