@import 'shared/globals.scss';

@import '~@/styles/common/button.scss';
@import '~@/styles/common/checkbox.scss';
@import '~@/styles/common/container.scss';
@import '~@/styles/common/file-input.scss';
@import '~@/styles/common/grid.scss';
@import '~@/styles/common/hamburger.scss';
@import '~@/styles/common/input.scss';
@import '~@/styles/common/picture.scss';
@import '~@/styles/common/typography.scss';
@import '~@/styles/common/utility.scss';

@import '~@/styles/components/about.scss';
@import '~@/styles/components/arrow-button.scss';
@import '~@/styles/components/article.scss';
@import '~@/styles/components/banner.scss';
@import '~@/styles/components/breadcrumbs.scss';
@import '~@/styles/components/catalog-tiles.scss';
@import '~@/styles/components/city-contacts.scss';
@import '~@/styles/components/companies.scss';
@import '~@/styles/components/company-page.scss';
@import '~@/styles/components/company.scss';
@import '~@/styles/components/city.scss';
@import '~@/styles/components/content-slider.scss';
@import '~@/styles/components/dropdown.scss';
@import '~@/styles/components/footer-menu.scss';
@import '~@/styles/components/footer.scss';
@import '~@/styles/components/form.scss';
@import '~@/styles/components/header.scss';
@import '~@/styles/components/jobs.scss';
@import '~@/styles/components/legal-menu.scss';
@import '~@/styles/components/loading-background.scss';
@import '~@/styles/components/navigation.scss';
@import '~@/styles/components/news-item.scss';
@import '~@/styles/components/news.scss';
@import '~@/styles/components/pager.scss';
@import '~@/styles/components/pagination.scss';

@import '~@/styles/components/search.scss';
@import '~@/styles/components/section.scss';
@import '~@/styles/components/sender.scss';
@import '~@/styles/components/services.scss';
@import '~@/styles/components/slider.scss';
@import '~@/styles/components/testimonial.scss';
@import '~@/styles/components/testimonial-popup.scss';
@import '~@/styles/components/specials-item.scss';
@import '~@/styles/components/search-results.scss';
@import '~@/styles/components/search-error.scss';
@import '~@/styles/components/search-form.scss';
@import '~@/styles/components/catalog-intro.scss';
@import '~@/styles/components/catalog-special.scss';
@import '~@/styles/components/product-list.scss';
@import '~@/styles/components/catalog-menu.scss';
@import '~@/styles/components/category-list.scss';
@import '~@/styles/components/category-card.scss';
@import '~@/styles/components/category.scss';
@import '~@/styles/components/product-type.scss';
@import '~@/styles/components/product.scss';
@import '~@/styles/components/product-list-heading.scss';
@import '~@/styles/components/order-form.scss';

@import '~@/styles/print.scss';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

// @import '~@/styles/typography.scss';
// @import '~@/styles/button.scss';

body,
html {
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;

  font-family: 'IBM Plex Sans', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  letter-spacing: $--letter-spacing;
  color: $--color-text;
  background-color: $--color-background-400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

*:focus {
  outline: none;
}

*::selection {
  color: $--color-text-contrast-600;
  background: $--color-background-brand;
}

* {
  box-sizing: border-box;
}

.main {
  margin-top: $--header-height;
  padding-bottom: 46px;

  max-width: 100%;
  overflow-x: hidden;

  @include from('xl') {
    margin-top: $--header-height;
    padding-bottom: 0;

    overflow: auto; // IE
    overflow: unset;

    // screen height - header - footer
    min-height: calc(100vh - 100px - 212px);
  }
}
