@import '~@/styles/shared/globals.scss';

.checkbox {
  $checkbox: &;

  display: flex;
  align-items: baseline;
  cursor: pointer;
  color: $--color-text-600;
  position: relative;

  @include from('md') {
    display: inline-flex;
  }

  &__native {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
  }

  &__box {
    position: absolute;
    top: 2px;
    pointer-events: none;
    touch-action: none;

    width: 16px;
    min-width: 16px;
    height: 16px;

    border: 1px solid $--color-background-brand;
    border-radius: 2px;
  }

  &__tick {
    width: 10px;
    height: 10px;
    top: 2px;
    left: 2px;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: opacity $--duration-200 $--timing-in-out-cubic,
      transform $--duration-200 $--timing-in-out-cubic;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 4px;
      top: 1px;
      left: 0;
      border: 1.38px solid;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
    }
  }

  &__label {
    line-height: 1.35;
    font-size: $--font-size-100;
    cursor: pointer;
    padding-left: 24px;
  }

  #{$checkbox}__native:checked ~ &__box {
    #{$checkbox}__tick {
      transform: scale(1);
      opacity: 1;
    }
  }

  @include not-using-mouse {
    #{$checkbox}__native:focus ~ #{$checkbox}__box {
      border-color: $--color-background-brand;
      box-shadow: 0 0 0 2px $--color-background-brand;
    }
    #{$checkbox}__native:focus ~ #{$checkbox}__label {
      // color: $--color-text-brand;
    }
  }
}
