@import '~@/styles/shared/_globals.scss';

.container {
  padding-right: $--page-padding-x-xs;
  padding-left: $--page-padding-x-xs;
  
  @include from('xl') {
    padding-right: $--page-padding-x-xl;
    padding-left: $--page-padding-x-xl;
  }
}
