@import '~@/styles/shared/globals.scss';

.input {
  border: none;
  box-shadow: none;
  border-radius: unset;
  
  height: $--button-height;
  padding: 10px 9px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
  color: $--color-text-600;
  background-color: $--color-background-700;

  @include from('lg') {
    border-radius: $--border-radius-button;
  }

  &::placeholder {
    color: $--color-text-400;
    opacity: 1;
  }
}
