<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
  <head>
    <%= require('html-loader!@/partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!@/partials/header.html') %>

    <main class="main">
      <section class="section section--narrow">
        <div class="container">
          <div class="row">
            <div class="col col-xxs-0 col-sm-0 col-md-0 col-lg-0 col-xl-4">
              <%= require('html-loader!@/partials/catalog-menu.html') %>
            </div>

            <div class="col col-xxs-2 col-xl-8">
              <div class="category">
                <%= require('html-loader!@/partials/product-list-heading.html') %>

                <%= require('html-loader!@/partials/product-list.html') %>

                <%= require('html-loader!@/partials/pagination.html') %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%= require('html-loader!@/partials/footer.html') %>
  </body>
</html>
