<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
  <head>
    <%= require('html-loader!@/partials/head.html') %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  </head>
  <body>
    <%= require('html-loader!@/partials/header.html') %>

    <main class="main">
      <%= require('html-loader!@/partials/breadcrumbs.html') %>

      <section class="section section--narrow section--strong-bottom">
        <div class="container">
          <div class="contacts">
            <div class="contacts__leading">
              <div
                class="city"
                itemprop="blogPost"
                itemscope=""
                itemtype="https://schema.org/BlogPosting"
              >
                <div class="row">
                  <div class="col col-xxs-2 col-md-2 col-xl-3">
                    <h2 class="city__title city__label--brand city__label--pin">
                      <svg class="city__pin">
                        <use xlink:href="#pin"></use>
                      </svg>
                      Санкт-Петербург
                    </h2>
                    <div class="city__address city__address--brand">
                      ул. Цветочная, дом 18 лит В
                    </div>
                  </div>
                  <div class="col col-xxs-2 col-md-2 col-xl-3">
                    <div class="city__manager">Евгения Невская</div>
                    <div class="city__position">
                      Менеджер по работе с клиентами
                    </div>
                  </div>
                  <div class="col col-xxs-2 col-md-2 col-xl-3">
                    <a
                      href="tel:+78124673474"
                      class="city__phone city__phone--strong city__phone--leading"
                    >
                      +7 812 467-34-74
                    </a>
                  </div>
                  <div class="col col-xxs-2 col-md-2 col-xl-3">
                    <a
                      href="mailto:spb@spectranalit.ru"
                      class="city__email city__email--strong city__email--leading"
                    >
                      spb@spectranalit.ru
                    </a>
                  </div>
                  <div class="col col-xxs-2 col-md-4 col-xl-12">
                    <div class="city__map-container">
                      <div class="city__map" id="map" data-lat="59.88349998364387" data-lon="30.330159966987623" data-zoom="16"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="contacts__list">
              <div class="row">
                <div class="col col-xxs-2 col-md-2 col-xl-3">
                  <div class="city">
                    <h2 class="city__title">Москва</h2>
                    <div class="city__address">ул. Ленина, дом 15, офис 2</div>
                    <div class="city__manager">Игорь Тарасов</div>
                    <div class="city__position">
                      Менеджер по работе с клиентами
                    </div>
                    <a
                      href="tel:+78124673474"
                      class="city__phone city__phone--strong"
                    >
                      +7 812 467-34-74
                    </a>
                    <a
                      href="mailto:ekb@spectranalit.ru"
                      class="city__email city__email--strong"
                    >
                      ekb@spectranalit.ru
                    </a>
                  </div>
                </div>
                <div class="col col-xxs-2 col-md-2 col-xl-3">
                  <div class="city">
                    <h2 class="city__title">Екатеринбург</h2>
                    <div class="city__address">ул. Малышева, дом 3, офис 5</div>
                    <div class="city__manager">Мария Нечаева</div>
                    <div class="city__position">
                      Менеджер по работе с клиентами
                    </div>
                    <a
                      href="tel:+78124673474"
                      class="city__phone city__phone--strong"
                    >
                      +7 812 467-34-74
                    </a>
                    <a
                      href="mailto:ekb@spectranalit.ru"
                      class="city__email city__email--strong"
                    >
                      ekb@spectranalit.ru
                    </a>
                  </div>
                </div>
                <div class="col col-xxs-2 col-md-2 col-xl-3">
                  <div class="city">
                    <h2 class="city__title">Казань</h2>
                    <div class="city__address">ул. Каюма Насыри, дом 4</div>
                    <div class="city__manager">Арина Валиева</div>
                    <div class="city__position">
                      Менеджер по работе с клиентами
                    </div>
                    <a
                      href="tel:+78124673474"
                      class="city__phone city__phone--strong"
                    >
                      +7 812 467-34-74
                    </a>
                    <a
                      href="mailto:kazan@spectranalit.ru"
                      class="city__email city__email--strong"
                    >
                      kazan@spectranalit.ru
                    </a>
                  </div>
                </div>
                <div class="col col-xxs-2 col-md-2 col-xl-3">
                  <%= require('html-loader!@/partials/contacts-form.html') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%= require('html-loader!@/partials/footer.html') %>
  </body>
</html>
