<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
  <head>
    <%= require('html-loader!@/partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!@/partials/header.html') %>
    
    <main class="main">
      <%= require('html-loader!@/partials/slider.html') %>
      <%= require('html-loader!@/partials/catalog-tiles.html') %>
      <%= require('html-loader!@/partials/content-slider.html') %>
      <%= require('html-loader!@/partials/newsfeed.html') %>
      <%= require('html-loader!@/partials/partners.html') %>
      <%= require('html-loader!@/partials/clients.html') %>
      <%= require('html-loader!@/partials/banner.html') %>
    </main>

    <%= require('html-loader!@/partials/footer.html') %>
  </body>
</html>
