<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
  <head>
    <%= require('html-loader!@/partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!@/partials/header.html') %>

    <main class="main">
      <%= require('html-loader!@/partials/breadcrumbs.html') %>

      <section class="section section--narrow">
        <div class="jobs">
          <div class="container">
            <div class="row">
              <div class="col col-xs-2 col-xl-12">
                <picture class="jobs__picture picture intro-image">
                  <img
                    src="http://rosanalitica.dubaua.ru/images/jobs-cover.jpg"
                    alt="Вакансии"
                    class="picture__image"
                  />
                </picture>
              </div>
            </div>

            <div class="row">
              <div class="col col-xs-2 col-md-2 col-xl-6">
                <div class="jobs__description description">
                  <p>
                    Мы всегда рады новым специалистам, которые могут у нас расти
                    и развиваться, а мы конечно же поможем им в этом. Если вас
                    заинтересовала работа в нашей компании — смело присылайте
                    нам своё резюме! Присоединяйся к нашей команде и ты поймешь,
                    на что способен!
                  </p>
                </div>
              </div>
              <div class="col col-xs-2 col-md-2 col-xl-6">
                <div class="jobs__info">
                  <p>Мы ценим наших сотрудников и обеспечиваем им:</p>
                  <ul>
                    <li>
                      официальное оформление, соблюдение всех норм Трудового
                      кодекса РФ;
                    </li>
                    <li>
                      достойный доход, соответствующий квалификации и навыкам;
                    </li>
                    <li>полный социальный пакет, дополнительные льготы;</li>
                    <li>
                      работу в дружном приветливом коллективе, имеющем
                      корпоративную культуру.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section--strong-bottom">
        <div class="container">
          <div class="row">
            <div class="col col-xs-2 col-xl-9">
              <div class="job-list">
                <div class="job-list__item" data-job-item>
                  <div class="job-list__item-panel" data-job-toggler>
                    <div class="job-list__item-title">
                      Специалист по закупкам лабораторного оборудования
                    </div>
                    <button type="button" class="job-list__item-toggler">
                      <svg
                        class="job-list__item-toggler-icon job-list__item-toggler-icon--show"
                      >
                        <use xlink:href="#plus" />
                      </svg>
                      <svg
                        class="job-list__item-toggler-icon job-list__item-toggler-icon--hide"
                      >
                        <use xlink:href="#minus" />
                      </svg>
                    </button>
                  </div>

                  <div class="job-list__item-body">
                    <div class="job-list__item-description">
                      <p>Требуемый опыт работы: 3–6 лет</p>
                      <p>Полная занятость, полный день</p>
                    </div>

                    <div class="row">
                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">Обязанности:</div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>Управление продажами услуг компании;</li>
                            <li>Выполнение плановых показателей;</li>
                            <li>Развитие партнерской сети;</li>
                            <li>
                              Планирование и управление активностью сотрудников
                              отдела продаж;
                            </li>
                            <li>
                              Мотивация сотрудников с целью достижения плановых
                              показателей;
                            </li>
                            <li>
                              Составление и актуализация эффективных скриптов и
                              речевых модулей;
                            </li>
                            <li>Обучение персонала;</li>
                          </ul>
                        </div>
                      </div>

                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">
                          Требования к специалисту:
                        </div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>Активная жизненная позиция;</li>
                            <li>
                              Готовность учиться и развиваться вместе с нами;
                            </li>
                            <li>Хорошие коммуникативные навыки;</li>
                            <li>Умение дистанционного общения с коллективом;</li>
                            <li>Готовность к командировкам;</li>
                            <li>
                              Опыт работы в страховой, финансовой,
                              кредитно-брокерской сферах будет вашим
                              преимуществом.
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">
                          Мы предлагаем:
                        </div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>
                              Достойная заработная плата без задержек, состоящая
                              из оклада и высокой премии, «потолка» нет;
                            </li>
                            <li>Обучение персонала;</li>
                            <li>
                              Возможность личностного развития и карьерного роста;
                            </li>
                            <li>График работы 5/2;</li>
                            <li>
                              Работа в дружном и молодом коллективе, насыщенная
                              корпоративная жизнь;
                            </li>
                            <li>Офис в центре города.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="job-list__item" data-job-item>
                  <div class="job-list__item-panel" data-job-toggler>
                    <div class="job-list__item-title">
                      Специалист тендерного отдела
                    </div>
                    <button type="button" class="job-list__item-toggler">
                      <svg
                        class="job-list__item-toggler-icon job-list__item-toggler-icon--show"
                      >
                        <use xlink:href="#plus" />
                      </svg>
                      <svg
                        class="job-list__item-toggler-icon job-list__item-toggler-icon--hide"
                      >
                        <use xlink:href="#minus" />
                      </svg>
                    </button>
                  </div>

                  <div class="job-list__item-body">
                    <div class="job-list__item-description">
                      <p>Требуемый опыт работы: 3–6 лет</p>
                      <p>Полная занятость, полный день</p>
                    </div>

                    <div class="row">
                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">Обязанности:</div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>Управление продажами услуг компании;</li>
                            <li>Выполнение плановых показателей;</li>
                            <li>Развитие партнерской сети;</li>
                            <li>
                              Планирование и управление активностью сотрудников
                              отдела продаж;
                            </li>
                            <li>
                              Мотивация сотрудников с целью достижения плановых
                              показателей;
                            </li>
                            <li>
                              Составление и актуализация эффективных скриптов и
                              речевых модулей;
                            </li>
                            <li>Обучение персонала;</li>
                          </ul>
                        </div>
                      </div>

                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">
                          Требования к специалисту:
                        </div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>Активная жизненная позиция;</li>
                            <li>
                              Готовность учиться и развиваться вместе с нами;
                            </li>
                            <li>Хорошие коммуникативные навыки;</li>
                            <li>Умение дистанционного общения с коллективом;</li>
                            <li>Готовность к командировкам;</li>
                            <li>
                              Опыт работы в страховой, финансовой,
                              кредитно-брокерской сферах будет вашим
                              преимуществом.
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">
                          Мы предлагаем:
                        </div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>
                              Достойная заработная плата без задержек, состоящая
                              из оклада и высокой премии, «потолка» нет;
                            </li>
                            <li>Обучение персонала;</li>
                            <li>
                              Возможность личностного развития и карьерного роста;
                            </li>
                            <li>График работы 5/2;</li>
                            <li>
                              Работа в дружном и молодом коллективе, насыщенная
                              корпоративная жизнь;
                            </li>
                            <li>Офис в центре города.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="job-list__item" data-job-item>
                  <div class="job-list__item-panel" data-job-toggler>
                    <div class="job-list__item-title">
                      Менеджер отдела активных продаж
                    </div>
                    <button type="button" class="job-list__item-toggler">
                      <svg
                        class="job-list__item-toggler-icon job-list__item-toggler-icon--show"
                      >
                        <use xlink:href="#plus" />
                      </svg>
                      <svg
                        class="job-list__item-toggler-icon job-list__item-toggler-icon--hide"
                      >
                        <use xlink:href="#minus" />
                      </svg>
                    </button>
                  </div>

                  <div class="job-list__item-body">
                    <div class="job-list__item-description">
                      <p>Требуемый опыт работы: 3–6 лет</p>
                      <p>Полная занятость, полный день</p>
                    </div>
  
                    <div class="row">
                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">Обязанности:</div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>Управление продажами услуг компании;</li>
                            <li>Выполнение плановых показателей;</li>
                            <li>Развитие партнерской сети;</li>
                            <li>
                              Планирование и управление активностью сотрудников
                              отдела продаж;
                            </li>
                            <li>
                              Мотивация сотрудников с целью достижения плановых
                              показателей;
                            </li>
                            <li>
                              Составление и актуализация эффективных скриптов и
                              речевых модулей;
                            </li>
                            <li>Обучение персонала;</li>
                          </ul>
                        </div>
                      </div>
  
                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">
                          Требования к специалисту:
                        </div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>Активная жизненная позиция;</li>
                            <li>
                              Готовность учиться и развиваться вместе с нами;
                            </li>
                            <li>Хорошие коммуникативные навыки;</li>
                            <li>Умение дистанционного общения с коллективом;</li>
                            <li>Готовность к командировкам;</li>
                            <li>
                              Опыт работы в страховой, финансовой,
                              кредитно-брокерской сферах будет вашим
                              преимуществом.
                            </li>
                          </ul>
                        </div>
                      </div>
  
                      <div class="col col-xs-2 col-xl-4">
                        <div class="job-list__item-about-title">
                          Мы предлагаем:
                        </div>
                        <div class="job-list__item-about">
                          <ul>
                            <li>
                              Достойная заработная плата без задержек, состоящая
                              из оклада и высокой премии, «потолка» нет;
                            </li>
                            <li>Обучение персонала;</li>
                            <li>
                              Возможность личностного развития и карьерного роста;
                            </li>
                            <li>График работы 5/2;</li>
                            <li>
                              Работа в дружном и молодом коллективе, насыщенная
                              корпоративная жизнь;
                            </li>
                            <li>Офис в центре города.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-xs-2 col-xl-3">
              <div class="job-list__feedback" data-feedback-form-block>
                <div class="job-list__feedback-description typography">
                  <p>
                    Заполните форму отклика ниже или присылайте резюме на почту
                    <a href="mailto:hr@spectranalit.ru">hr@spectranalit.ru</a>
                    <br />
                    Мы свяжемся с вами в течение двух недель.
                  </p>
                </div>

                <form action="post" class="job-list__form form" enctype="multipart/form-data" data-feedback-form>
                  <input
                    type="text"
                    class="job-list__input input"
                    placeholder="Имя"
                    required
                  />
                  <input
                    type="phone"
                    class="job-list__input input"
                    placeholder="Телефон"
                    required
                  />
                  <input
                    type="email"
                    class="job-list__input input"
                    placeholder="E-mail"
                    required
                  />

                  <label class="job-list__input-file file-input" data-file-input>
                    <div class="file-input__button button button--dark" data-file-input-label>загрузить резюме</div>
                    <input data-file-native-input type="file" id="file" aria-label="Загрузить резюме" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf,application/pdf" required>
                    <div class="file-input__file-name" data-file-input-current-file></div>
                  </label>

                  <button
                    class="job-list__button button button--primary"
                    type="submit"
                  >
                    Откликнуться
                  </button>

                  <div class="job-list__checkbox checkbox">
                    <input class="checkbox__native" type="checkbox" value="1" id="privacy" data-select-checkbox required />
                    <span class="checkbox__box">
                      <span class="checkbox__tick"></span>
                    </span>
                    <label for="privacy" class="checkbox__label">Даю согласие на обработку персональных данных</label>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%= require('html-loader!@/partials/footer.html') %>
  </body>
</html>
