<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
  <head>
    <%= require('html-loader!@/partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!@/partials/header.html') %>

    <main class="main">
      <%= require('html-loader!@/partials/breadcrumbs.html') %>

      <section class="section">
        <div class="container">
          <div class="news">
            <a href="/news-item.html" class="news-item">
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-1.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use xlink:href="#arrow" />
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-02-28 19:11:53"
                >28 / 02 / 2020</time
              >
              <h3 class="news-item__title">
                Наша компания стала официальным дилером Metrohm
              </h3>
            </a>
            <a href="/news-item.html" class="news-item">
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-2.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use xlink:href="#arrow" />
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-02-12 19:11:53"
                >12 / 02 / 2020</time
              >
              <h3 class="news-item__title">
                Встрече дилеров SARTORIUS Россия|СНГ 2019
              </h3>
            </a>
            <a href="/news-item.html" class="news-item">
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-3.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use xlink:href="#arrow" />
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-02-10 19:11:53"
                >10 / 02 / 2020</time
              >
              <h3 class="news-item__title">
                Получен сертификат соответствия требованиям стандарта ГОСТ
              </h3>
            </a>
            <a href="/news-item.html" class="news-item">
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-4.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use xlink:href="#arrow" />
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-01-30 19:14:08"
                >30 / 01 / 2020</time
              >
              <h3 class="news-item__title">
                Изменённый режим работы в связи с пандемией COVID-19
              </h3>
            </a>
            <a href="/news-item.html" class="news-item">
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-5.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use xlink:href="#arrow" />
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-01-14 19:14:27"
                >14 / 01 / 2020</time
              >
              <h3 class="news-item__title">
                ООО «Спектраналит» — официальным дилер ООО «Мониторинг»
              </h3>
            </a>
            <a href="/news-item.html" class="news-item">
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-3.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use xlink:href="#arrow" />
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-02-10 19:11:53"
                >10 / 02 / 2020</time
              >
              <h3 class="news-item__title">
                Получен сертификат соответствия требованиям стандарта ГОСТ
              </h3>
            </a>
            <a href="/news-item.html" class="news-item">
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-4.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use xlink:href="#arrow" />
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-01-30 19:14:08"
                >30 / 01 / 2020</time
              >
              <h3 class="news-item__title">
                Изменённый режим работы в связи с пандемией COVID-19
              </h3>
            </a>
            <a href="/news-item.html" class="news-item">
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-5.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use xlink:href="#arrow" />
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-01-14 19:14:27"
                >14 / 01 / 2020</time
              >
              <h3 class="news-item__title">
                ООО «Спектраналит» — официальным дилер ООО «Мониторинг»
              </h3>
            </a>
          </div>
        </div>
      </section>
      <!-- TODO pagination -->
    </main>

    <%= require('html-loader!@/partials/footer.html') %>
  </body>
</html>
