<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
  <head>
    <%= require('html-loader!@/partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!@/partials/header.html') %>

    <main class="main">
      <%= require('html-loader!@/partials/breadcrumbs.html') %>

      <section class="section section--narrow">
        <div class="container">
          <div class="row">
            <div class="col col-xs-2 col-md-2 col-xl-4">
              <div class="specials__item">
                <a href="/special.html" class="specials-item">
                  <figure class="specials-item__picture">
                    <img
                      class="specials-item__image"
                      src="http://www.rosanalitica.dubaua.ru/images/special/special-item-example.png"
                      alt=""
                    />
                    <div class="specials-item__read-more">
                      <svg>
                        <use xlink:href="#arrow" />
                      </svg>
                    </div>
                  </figure>

                  <div class="specials-item__bottom">
                    <span class="specials-item__bottom-icon">
                      <svg>
                        <use xlink:href="#chevron" />
                      </svg>
                    </span>

                    <div class="specials-item__heading">
                      <h3 class="specials-item__title">
                        Наша компания стала официальным дилером Metrohm
                      </h3>
                      <span class="specials-item__link"> Подробнее</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col col-xs-2 col-md-2 col-xl-4">
              <div class="specials__item">
                <a href="/special.html" class="specials-item">
                  <figure class="specials-item__picture">
                    <img
                      class="specials-item__image"
                      src="http://www.rosanalitica.dubaua.ru/images/special/special-item-example.png"
                      alt=""
                    />
                    <div class="specials-item__read-more">
                      <svg>
                        <use xlink:href="#arrow" />
                      </svg>
                    </div>
                  </figure>

                  <div class="specials-item__bottom">
                    <span class="specials-item__bottom-icon">
                      <svg>
                        <use xlink:href="#chevron" />
                      </svg>
                    </span>

                    <div class="specials-item__heading">
                      <h3 class="specials-item__title">
                        Наша компания стала официальным дилером Metrohm
                      </h3>
                      <span class="specials-item__link"> Подробнее</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col col-xs-2 col-md-2 col-xl-4">
              <div class="specials__item">
                <a href="/special.html" class="specials-item">
                  <figure class="specials-item__picture">
                    <img
                      class="specials-item__image"
                      src="http://www.rosanalitica.dubaua.ru/images/special/special-item-example.png"
                      alt=""
                    />
                    <div class="specials-item__read-more">
                      <svg>
                        <use xlink:href="#arrow" />
                      </svg>
                    </div>
                  </figure>

                  <div class="specials-item__bottom">
                    <span class="specials-item__bottom-icon">
                      <svg>
                        <use xlink:href="#chevron" />
                      </svg>
                    </span>

                    <div class="specials-item__heading">
                      <h3 class="specials-item__title">
                        Наша компания стала официальным дилером Metrohm
                      </h3>
                      <span class="specials-item__link"> Подробнее</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%= require('html-loader!@/partials/pagination.html') %>
    </main>

    <%= require('html-loader!@/partials/footer.html') %>
  </body>
</html>
