<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
  <head>
    <%= require('html-loader!@/partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!@/partials/header.html') %>

    <main class="main">
      <%= require('html-loader!@/partials/breadcrumbs-inner.html') %>

      <section class="section section--narrow section--strong-bottom">
        <div class="container">
          <div class="article">
            <div class="row">
              <div class="col col-xxs-2 col-xl-7 col-xl-offset-1">
                <h1 class="article__title title">
                  Распродажа измерительного устройства D 2401 2
                </h1>
                <time class="article__date">12 / 02 / 2020</time>
              </div>
            </div>

            <div class="row">
              <div class="col col-xxs-2 col-xl-8 col-xl-offset-1">
                <div class="article__cover picture">
                  <img
                    src="http://www.rosanalitica.dubaua.ru/images/special/special-example-cover.jpg"
                    alt="Распродажа измерительного устройства D 2401 2"
                  />
                </div>
              </div>

              <div class="col col-xxs-2 col-md-3 col-xl-7 col-xl-offset-1">
                <div class="article__description description">
                  <p>
                    В настоящее время мы готовы реализовать данное устройство по
                    крайне привлекательной цене. За более подробной информацией
                    обращайтесь по телефону: +7 812 456-98-40 или по электронной
                    почте: info@spectranalit.ru
                  </p>
                </div>
              </div>
            </div>

            <!-- описание акции -->
            <div class="row">
              <div class="col col-xxs-2 col-md-3 col-xl-7 col-xl-offset-1">
                <div class="typography">
                  <p>
                    Еще какой-то текст с условиями акции. Возможно, большой.
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col col-xxs-2 col-xl-7 col-xl-offset-1">
                <div class="article__subtitle">
                  <svg>
                    <use xlink:href="#chevron" />
                  </svg>
                  <h2>подробное описание</h2>
                </div>
              </div>
            </div>

            <!-- описание прикрепленного акционного товара -->
            <div class="row">
              <div class="col col-xxs-2 col-xl-7 col-xl-offset-1">
                <div class="typography">
                  <p>
                    Измерительное устройство D 2401 2, состоит из
                    трехфункционального датчика, барабана для ленты с
                    электроникой и LCD-дисплеем, измерительной ленты
                    определенной длины, корпуса и заземляющего устройства.
                    Переносные трехфункциональные измерительные рулетки MMC 2401
                    представляют собой быстродействующие и надежные
                    измерительные устройства для определения уровня взлива,
                    уровня раздела фаз и температуры в резервуарах и ёмкостях с
                    химическими веществами и нефтепродуктами.
                  </p>

                  <p>
                    Рулетки MMC D 2401 2 могут эксплуатироваться на цистернах
                    либо резервуарах открытого типа, на герметичных резервуарах
                    и на танкерах. В зависимости от применения выпускаются три
                    исполнений рулеток: открытое (F); закрытое (C); защищенное
                    (R). Каждое из исполнений обозначается определенной буквой
                    (F, C или R).
                  </p>

                  <p>
                    У нас в наличии Трехфункциональная измерительная линейка
                    MMC. Модель D-2401-2, Part No: 2401TF30MCBS.
                  </p>

                  <p>
                    <strong>Исполнение:</strong> открытое (F) – для эксплуатации
                    измерительных рулеток MMC на негерметичных резервуарах;
                  </p>

                  <p><strong>Длина:</strong> 30 м</p>

                  <p>
                    Особенности рулеток MMC D 2401 2: Проводящая поверхность
                    рулетки D 2401 2 для отвода статического заряда. Заземляющий
                    кабель с зажимом. Тормозной механизм, препятствующий
                    самопроизвольному разматыванию ленты. Возможность быстрой
                    замены ленты измерительного устройства D 2401 2.
                    Водонепроницаемые электроника с герметизированными
                    переключателями. Все крепления из нержавеющей стали.
                    Нейлоновое покрытие алюминиевого корпуса барабана рулетки D
                    2401 2 для небольшого веса. Индикатор разрядки батареи.
                    Высокая видимость при дневном свете с ЖК-дисплеем. Кнопка
                    Night Light. Быстрые многократные измерения температуры.
                    Рулетка для измерения уровня нефтепродуктов MMC D 2401 2
                    имеет IMO утверждение на обнаружение нефти/воды
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%= require('html-loader!@/partials/footer.html') %>
  </body>
</html>
