<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
  <head>
    <%= require('html-loader!@/partials/head.html') %>
  </head>
  <body>
    <%= require('html-loader!@/partials/header.html') %>

    <main class="main">
      <%= require('html-loader!@/partials/breadcrumbs.html') %>

      <div class="section section--narrow section--strong-bottom">
        <div class="container">
          <div class="testimonial">
            <div class="row">
              <div class="col col-xxs-2 col-lg-1 col-xl-3 col-xxs-last col-sm-last col-md-last">
                <div class="testimonial__image picture" data-testimonial-picture>
                  <img
                    src="http://www.rosanalitica.dubaua.ru/images/testimonials/testimonial-5.png"
                    alt="Отзыв по поставкам — ООО «Газпром Трансгаз Санкт-Петербург», 15.02.2019"
                  />
                  <div class="testimonial__zoom-image" data-testimonial-zoom>
                    <svg>
                      <use xlink:href="#zoom" />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="col col-xxs-2 col-lg-3 col-xl-9">
                <div class="testimonial__content">
                  <h2 class="testimonial__subtitle">
                    <div class="testimonial__client">ФБУ Архангельский ЦСМ</div>
                    <time class="testimonial__date" datetime="2020-09-02 20:36:57">2020 / 09 / 02</time>
                  </h2>

                  <h3 class="testimonial__title">Отзыв по поставкам</h3>

                  <div class="testimonial__text typography">
                    <p>Уважаемый Павел Вячеславович!</p>
                    <p>
                      За период совместной работы по договору № 11-2017 от 22.11.2017 г. «Изготовление и аттестация
                      Государственных стандартных образцов, применяемых в качестве градуировочных смесей для
                      хроматографов филиалов ООО “Газпром трансгаз Санкт-Петербург” в 2018г» ваша организация проявила
                      себя надежным поставщиком. Высокая оперативность решения рабочих вопросов, своеоременное
                      выполнение обязательств в соответствии с условиями заключенного договора соответствует требованиям
                      Общества.
                    </p>
                    <p>
                      Все услуги оказаны в полном объеме и в установлениые сроки Возникающие организационные вопросы
                      решались сотрудниками ООО «НПП Спектраналит» профессионально и оперативно. Особо следует отметить
                      компетентность, профессионализм и высокую квалификацию сотрудников компании.
                    </p>
                    <p>
                      ООО «Газпром транегаз Санкт-Петербург» надеется на дальнейшее сотрудничество и рекомендует 000
                      «НПП: Спектраналит» как успешного и надежного поставщика.
                    </p>
                    <p>Заместитель генерального директора по автоматизации Д.Я. Москович</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="row">
              <div class="col col-xxs-2 col-lg-1 col-xl-3 col-xxs-last col-sm-last col-md-last">
                <div class="testimonial__image picture" data-testimonial-picture>
                  <img
                    src="http://www.rosanalitica.dubaua.ru/images/testimonials/testimonial-5.png"
                    alt="Отзыв по поставкам — ООО «Газпром Трансгаз Санкт-Петербург», 15.02.2019"
                  />
                  <div class="testimonial__zoom-image" data-testimonial-zoom>
                    <svg>
                      <use xlink:href="#zoom" />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="col col-xxs-2 col-lg-3 col-xl-9">
                <div class="testimonial__content">
                  <div class="testimonial__subtitle">
                    <div class="testimonial__client">
                      <p>ООО «Газпром Трансгаз Санкт-Петербург»</p>
                    </div>
                    <div class="testimonial__date">
                      <p>15.02.2019</p>
                    </div>
                  </div>

                  <h3 class="testimonial__title">Отзыв по поставкам</h3>

                  <div class="testimonial__text typography">
                    <p>Уважаемый Павел Вячеславович!</p>
                    <p>
                      За период совместной работы по договору № 11-2017 от 22.11.2017 г. «Изготовление и аттестация
                      Государственных стандартных образцов, применяемых в качестве градуировочных смесей для
                      хроматографов филиалов ООО “Газпром трансгаз Санкт-Петербург” в 2018г» ваша организация проявила
                      себя надежным поставщиком. Высокая оперативность решения рабочих вопросов, своеоременное
                      выполнение обязательств в соответствии с условиями заключенного договора соответствует требованиям
                      Общества.
                    </p>
                    <p>
                      Все услуги оказаны в полном объеме и в установлениые сроки Возникающие организационные вопросы
                      решались сотрудниками ООО «НПП Спектраналит» профессионально и оперативно. Особо следует отметить
                      компетентность, профессионализм и высокую квалификацию сотрудников компании.
                    </p>
                    <p>
                      ООО «Газпром транегаз Санкт-Петербург» надеется на дальнейшее сотрудничество и рекомендует 000
                      «НПП: Спектраналит» как успешного и надежного поставщика.
                    </p>
                    <p>Заместитель генерального директора по автоматизации Д.Я. Москович</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial">
            <div class="row">
              <div class="col col-xxs-2 col-lg-1 col-xl-3 col-xxs-last col-sm-last col-md-last">
                <div class="testimonial__image picture" data-testimonial-picture>
                  <img
                    src="http://www.rosanalitica.dubaua.ru/images/testimonials/testimonial-5.png"
                    alt="Отзыв по поставкам — ООО «Газпром Трансгаз Санкт-Петербург», 15.02.2019"
                  />
                  <div class="testimonial__zoom-image" data-testimonial-zoom>
                    <svg>
                      <use xlink:href="#zoom" />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="col col-xxs-2 col-lg-3 col-xl-9">
                <div class="testimonial__content">
                  <div class="testimonial__subtitle">
                    <div class="testimonial__client">
                      <p>ООО «Газпром Трансгаз Санкт-Петербург»</p>
                    </div>
                    <div class="testimonial__date">
                      <p>15.02.2019</p>
                    </div>
                  </div>

                  <h3 class="testimonial__title">Отзыв по поставкам</h3>

                  <div class="testimonial__text typography">
                    <p>Уважаемый Павел Вячеславович!</p>
                    <p>
                      За период совместной работы по договору № 11-2017 от 22.11.2017 г. «Изготовление и аттестация
                      Государственных стандартных образцов, применяемых в качестве градуировочных смесей для
                      хроматографов филиалов ООО “Газпром трансгаз Санкт-Петербург” в 2018г» ваша организация проявила
                      себя надежным поставщиком. Высокая оперативность решения рабочих вопросов, своеоременное
                      выполнение обязательств в соответствии с условиями заключенного договора соответствует требованиям
                      Общества.
                    </p>
                    <p>
                      Все услуги оказаны в полном объеме и в установлениые сроки Возникающие организационные вопросы
                      решались сотрудниками ООО «НПП Спектраналит» профессионально и оперативно. Особо следует отметить
                      компетентность, профессионализм и высокую квалификацию сотрудников компании.
                    </p>
                    <p>
                      ООО «Газпром транегаз Санкт-Петербург» надеется на дальнейшее сотрудничество и рекомендует 000
                      «НПП: Спектраналит» как успешного и надежного поставщика.
                    </p>
                    <p>Заместитель генерального директора по автоматизации Д.Я. Москович</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="testimonial-popup" data-testimonial-popup>
        <div class="testimonial-popup__overlay" data-testimonial-popup-overlay></div>
        <img class="testimonial-popup__picture" src="" alt="" data-testimonial-popup-image />
        <button type="button" class="testimonial-popup__close-button" data-testimonial-popup-close>
          <svg>
            <use xlink:href="#cross" />
          </svg>
        </button>
      </div>
    </main>

    <%= require('html-loader!@/partials/footer.html') %>
  </body>
</html>
