<section class="section">
  <div class="container">
    <div class="banner">
      <picture class="banner__picture banner__picture--inverse picture">
        <img
          src="http://rosanalitica.dubaua.ru/images/testimonials/testimonials-banner.png"
          alt="Отзывы"
          class="picture__image"
        />
      </picture>
      <div class="banner__overlay banner__overlay--inverse banner__overlay--brand">Решаем задачи по комплексному оснащению лабораторий <strong>уже&nbsp;11&nbsp;лет</strong></div>
      <div class="banner__link banner__link--inverse">
        <a href="#" class="button button--quiet">Отзывы клиентов</a>
      </div>
    </div>
  </div>
</section>
