<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col col-xs-2 col-xl-10 col-xl-offset-1">
        <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumbs__inner">
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumbs__section">
            <a itemprop="item" href="/" class="breadcrumbs__back">
              <svg class="breadcrumbs__back-arrow" itemprop="name" aria-label="Главная">
                <use xlink:href="#arrow"></use>
              </svg>
            </a>
            <meta itemprop="position" content="1" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumbs__section">
            <a itemprop="item" href="/partners">
              <span itemprop="name">Партнеры</span>
            </a>
            <meta itemprop="position" content="2" />
          </li>
          <li
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            class="breadcrumbs__section breadcrumbs__section--muted breadcrumbs__section--active"
          >
            <span itemprop="name"> Спектрон </span>
            <meta itemprop="position" content="3" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
