<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col col-xs-2 col-xl-10 col-xl-offset-1">
        <div class="breadcrumbs__inner">
          <a href="/partners.html" class="breadcrumbs__back">
            <svg class="breadcrumbs__back-arrow">
              <use xlink:href="#arrow" />
            </svg>
          </a>

          <a class="breadcrumbs__section" href="/partners.html">Партнёры</a>
          <span class="breadcrumbs__element breadcrumbs__element--active"
            >Партнёр</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
