<div class="catalog-menu catalog-menu--aside" data-catalog-menu>
  <div class="catalog-menu__inner">
    <div class="catalog-menu__title">
      <a class="catalog-menu__title-back" href="/">
        <svg itemprop="name" aria-label="Главная">
          <use xlink:href="#arrow" href="#arrow"></use>
        </svg>
      </a>

      <h1>Каталог</h1>
    </div>

    <ul class="catalog-menu__list">
      <li class="catalog-menu__item">
        <div class="catalog-menu__category">
          <a href="/category-list.html">
            <span>Лабораторная посуда</span>
          </a>
        </div>
      </li>
      <li class="catalog-menu__item" data-catalog-menu-item-id="12">
        <div class="catalog-menu__category">
          <a href="/category-list.html">
            <span>Специализированное оборудование</span>
          </a>
          <button
            class="catalog-menu__toggle"
            data-catalog-menu-toggle-button="12"
          >
            Открыть
          </button>
        </div>
        <ul
          class="catalog-menu__inner-list"
          data-simplebar
          data-simplebar-auto-hide="false"
        >
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Весовая техника</span>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="catalog-menu__item" data-catalog-menu-item-id="13">
        <div class="catalog-menu__category">
          <a href="/category-list.html">
            <span>Лабораторное оборудование</span>
          </a>
          <button
            class="catalog-menu__toggle"
            data-catalog-menu-toggle-button="13"
          >
            Открыть
          </button>
        </div>
        <ul
          class="catalog-menu__inner-list"
          data-simplebar
          data-simplebar-auto-hide="false"
        >
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Весовая техника</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Метеорологическая продукция</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Колбонагреватели</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Муфельные печи</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Магнитные мешалки</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Верхнеприводные мешалки</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Титраторы</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/category-list.html/laboratornye-posudomoechnye-mashiny-i-dezinfektory"
              >
                <span>Лабораторные посудомоечные машины и дезинфекторы</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Оборудование Ritter</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Газоанализаторы</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/category-list.html/pribory-obespecheniya-protsessa-gazovoj-khromatografii"
              >
                <span>Приборы обеспечения процесса газовой хроматографии</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Шумомеры</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Хроматография</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Климатические и испытательные камеры</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Сушильные шкафы</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Перемешивающие устройства</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Нагревательные плиты</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Ламинарные шкафы</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Плотномеры</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Оборудование для подготовки проб</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Диспергаторы и экстракторы</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Водяные и масляные бани</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Термостаты и криостаты</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Ротационные испарители</span>
              </a>
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a href="/category-list.html">
                <span>Системы очистки воды</span>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="catalog-menu__item" data-catalog-menu-item-id="14">
        <div class="catalog-menu__category">
          <a href="/category-list.html">
            <span>Оборудование для анализа</span>
          </a>
          <button
            class="catalog-menu__toggle"
            data-catalog-menu-toggle-button="14"
          >
            Открыть
          </button>
        </div>
        <ul
          class="catalog-menu__inner-list simplebar-scrollable-y"
          data-simplebar="init"
          data-simplebar-auto-hide="false"
        >
          <li class="catalog-menu__item catalog-menu__item--parent">
            <div class="catalog-menu__category">
              <a
                href="/catalog/108-a32575fa-1a96-11eb-9177-00155d64df00/a32575fb-1a96-11eb-9177-00155d64df00"
                ><span>Весоизмерительное оборудование</span></a
              >
            </div>
            <ul class="catalog-menu__inner-list">
              <li class="catalog-menu__item" data-catalog-menu-item-id="109">
                <div class="catalog-menu__category">
                  <a
                    href="/catalog/109-a32575fa-1a96-11eb-9177-00155d64df00/a32575fb-1a96-11eb-9177-00155d64df00/a32575fc-1a96-11eb-9177-00155d64df00"
                    ><span>Лабораторные весы</span></a
                  >
                </div>
              </li>
            </ul>
          </li>
          <li class="catalog-menu__item catalog-menu__item--parent">
            <div class="catalog-menu__category">
              <a
                href="/catalog/111-a32575fa-1a96-11eb-9177-00155d64df00/0dc885f5-1f66-11eb-9178-00155d64df00"
                ><span>Лабораторные системы очистки воды</span></a
              >
            </div>
            <ul class="catalog-menu__inner-list">
              <li class="catalog-menu__item">
                <div class="catalog-menu__category">
                  <a
                    href="/catalog/112-a32575fa-1a96-11eb-9177-00155d64df00/0dc885f5-1f66-11eb-9178-00155d64df00/0dc885f6-1f66-11eb-9178-00155d64df00"
                    ><span>Расходные материалы для систем Surtorius</span></a
                  >
                </div>
              </li>
              <li class="catalog-menu__item">
                <div class="catalog-menu__category">
                  <a
                    href="/catalog/112-a32575fa-1a96-11eb-9177-00155d64df00/0dc885f5-1f66-11eb-9178-00155d64df00/0dc885f6-1f66-11eb-9178-00155d64df00"
                    ><span>Материалы</span></a
                  >
                </div>
              </li>
              <li class="catalog-menu__item">
                <div class="catalog-menu__category">
                  <a
                    href="/catalog/112-a32575fa-1a96-11eb-9177-00155d64df00/0dc885f5-1f66-11eb-9178-00155d64df00/0dc885f6-1f66-11eb-9178-00155d64df00"
                    ><span>Еще материалы</span></a
                  >
                </div>
              </li>
              <li class="catalog-menu__item">
                <div class="catalog-menu__category">
                  <a
                    href="/catalog/112-a32575fa-1a96-11eb-9177-00155d64df00/0dc885f5-1f66-11eb-9178-00155d64df00/0dc885f6-1f66-11eb-9178-00155d64df00"
                    ><span>Какие-то другие материалы</span></a
                  >
                </div>
              </li>
            </ul>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/catalog/113-a32575fa-1a96-11eb-9177-00155d64df00/b7dbfdfc-2354-11eb-917e-00155d64df00"
                ><span>Дозаторы и диспенсеры</span></a
              >
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/catalog/113-a32575fa-1a96-11eb-9177-00155d64df00/b7dbfdfc-2354-11eb-917e-00155d64df00"
                ><span>Тут</span></a
              >
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/catalog/113-a32575fa-1a96-11eb-9177-00155d64df00/b7dbfdfc-2354-11eb-917e-00155d64df00"
                ><span>Очень</span></a
              >
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/catalog/113-a32575fa-1a96-11eb-9177-00155d64df00/b7dbfdfc-2354-11eb-917e-00155d64df00"
                ><span>Длинный</span></a
              >
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/catalog/113-a32575fa-1a96-11eb-9177-00155d64df00/b7dbfdfc-2354-11eb-917e-00155d64df00"
                ><span>Список</span></a
              >
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/catalog/113-a32575fa-1a96-11eb-9177-00155d64df00/b7dbfdfc-2354-11eb-917e-00155d64df00"
                ><span>Разных</span></a
              >
            </div>
          </li>
          <li class="catalog-menu__item">
            <div class="catalog-menu__category">
              <a
                href="/catalog/113-a32575fa-1a96-11eb-9177-00155d64df00/b7dbfdfc-2354-11eb-917e-00155d64df00"
                ><span>Материалов</span></a
              >
            </div>
          </li>
        </ul>
      </li>
      <li class="catalog-menu__item">
        <div class="catalog-menu__category">
          <a href="/category-list.html">
            <span>Лабораторная мебель</span>
          </a>
        </div>
      </li>
      <li class="catalog-menu__item">
        <div class="catalog-menu__category">
          <a href="/category-list.html">
            <span>Категория каталога</span>
          </a>
        </div>
      </li>
      <li class="catalog-menu__item">
        <div class="catalog-menu__category">
          <a href="/category-list.html">
            <span>Седьмая категория</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
