<div class="catalog-panel catalog-panel--plain" catalog-menu>
  <div class="catalog-panel__inner">
    <div class="catalog-panel__title">
      <a class="catalog-panel__title-back" href="">
        <svg itemprop="name" aria-label="Главная">
          <use xlink:href="#arrow"></use>
        </svg>
      </a>
      <h1>Каталог</h1>
    </div>

    <div class="catalog-menu catalog-menu--plain">
      <ul class="catalog-menu__list">
        <li class="catalog-menu__item">
          <div class="catalog-menu__category">
            <a href="/category-list.html"><span>Лабораторная посуда</span></a>
          </div>
        </li>
        <li class="catalog-menu__item">
          <div class="catalog-menu__category">
            <a href="/category-list.html"><span>Специализированное оборудование</span></a>
          </div>
        </li>
        <li class="catalog-menu__item catalog-menu__item--parent">
          <div class="catalog-menu__category">
            <a href="/category-list.html"><span>Лабораторное оборудование</span></a
            ><button class="catalog-menu__toggle" data-catalog-menu-toggle-button="13">Открыть</button>
          </div>
          <ul
            class="catalog-menu__list catalog-menu__list--child"
            data-simplebar
            data-simplebar-auto-hide="false"
            data-catalog-menu-category-list="13"
          >
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Весовая техника</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Метеорологическая продукция</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Колбонагреватели</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Муфельные печи</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Магнитные мешалки</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Верхнеприводные мешалки</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Титраторы</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html/laboratornye-posudomoechnye-mashiny-i-dezinfektory"
                  ><span>Лабораторные посудомоечные машины и дезинфекторы</span></a
                >
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Оборудование Ritter</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Газоанализаторы</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html/pribory-obespecheniya-protsessa-gazovoj-khromatografii"
                  ><span>Приборы обеспечения процесса газовой хроматографии</span></a
                >
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Шумомеры</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Хроматография</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Климатические и испытательные камеры</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Сушильные шкафы</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Перемешивающие устройства</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Нагревательные плиты</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Ламинарные шкафы</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Плотномеры</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Оборудование для подготовки проб</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Диспергаторы и экстракторы</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Водяные и масляные бани</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Термостаты и криостаты</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Ротационные испарители</span></a>
              </div>
            </li>
            <li class="catalog-menu__item">
              <div class="catalog-menu__category">
                <a href="/category-list.html"><span>Системы очистки воды</span></a>
              </div>
            </li>
          </ul>
        </li>
        <li class="catalog-menu__item">
          <div class="catalog-menu__category">
            <a href="/category-list.html"><span>Оборудование для анализа</span></a>
          </div>
        </li>
        <li class="catalog-menu__item">
          <div class="catalog-menu__category">
            <a href="/category-list.html"><span>Лабораторная мебель</span></a>
          </div>
        </li>
        <li class="catalog-menu__item">
          <div class="catalog-menu__category">
            <a href="/category-list.html"><span>Категория каталога</span></a>
          </div>
        </li>
        <li class="catalog-menu__item">
          <div class="catalog-menu__category">
            <a href="/category-list.html"><span>Седьмая категория</span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
