<section class="section">
  <div class="container">
    <div class="catalog-tiles">
      <div class="catalog-tiles__item catalog-tiles__item--brand catalog-tiles__item--1">
        <div class="catalog-tiles__picture picture">
          <img src="http://rosanalitica.dubaua.ru/images/catalog-tiles/catalog-tile-1.png" alt="Плитка" class="picture__image">
        </div>
      </div>
      <div class="catalog-tiles__item catalog-tiles__item--2"></div>
      <div class="catalog-tiles__item catalog-tiles__item--brand catalog-tiles__item--3"></div>
      <div class="catalog-tiles__item catalog-tiles__item--4"></div>
      <div class="catalog-tiles__item catalog-tiles__item--cover catalog-tiles__item--5"></div>
      <div class="catalog-tiles__item catalog-tiles__item--brand catalog-tiles__item--6"></div>
      <div class="catalog-tiles__item catalog-tiles__item--7"></div>
    </div>
  </div>
</section>
