<section class="section">
  <div class="container">
    <div class="companies">
      <div class="companies__header">
        <h2 class="companies__title">Наши клиенты</h2>
        <div class="companies__show-all">
          <a href="/clients" class="arrow-button">
            <svg class="arrow-button__icon">
              <use xlink:href="#arrow-right-triangle" />
            </svg>
            <span class="arrow-button__label">Все<br>Заказчики</span>
          </a>
        </div>
      </div>
      <div class="companies__list">
        <div class="row">
          <div class="col col-xxs-2 col-md-2 col-xl-3">
            <a href="/15-clients/14-lukojl" class="company">
              <figure class="company__picture">
                <img
                  class="company__image"
                  src="http://rosanalitica.dubaua.ru/images/clients/lukoil.png"
                  alt="Лукойл"
                />
              </figure>
              <span class="company__description">
                <p>Одна из крупнейших публичных вертикально интегрированных нефтегазовых компаний в мире</p>
              </span>
            </a>
          </div>
          <div class="col col-xxs-2 col-md-2 col-xl-3">
            <a href="/15-clients/13-alrosa" class="company">
              <figure class="company__picture">
                <img
                  class="company__image"
                  src="http://rosanalitica.dubaua.ru/images/clients/alrosa.png"
                  alt="Алроса"
                />
              </figure>
              <span class="company__description">
                <p>Лидер алмазодобывающей отрасли мира, российская горнорудная компания с государственным участием</p>
              </span>
            </a>
          </div>
          <div class="col col-xxs-2 col-md-2 col-xl-3">
            <a href="/15-clients/12-admiraltejskie-verfi" class="company">
              <figure class="company__picture">
                <img
                  class="company__image"
                  src="http://rosanalitica.dubaua.ru/images/clients/admiraltejskie-verfi.png"
                  alt="Адмиралтейские верфи"
                />
              </figure>
              <span class="company__description">
                <p>Центр неатомного подводного кораблестроения России</p>
              </span>
            </a>
          </div>
          <div class="col col-xxs-2 col-md-2 col-xl-3">
            <a href="/15-clients/11-bashneft" class="company">
              <figure class="company__picture">
                <img
                  class="company__image"
                  src="http://rosanalitica.dubaua.ru/images/clients/bashneft.png"
                  alt="Башнефть"
                />
              </figure>
              <span class="company__description">
                <p>Одно из старейших предприятий нефтяной отрасли России</p>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
