<section class="section section--highlight-bottom" data-content-slider>
  <div class="content-slider">
    <div class="swiper-container" data-content-slider-container>
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-content-slider-slide>
          <div class="container">
            <div class="banner" data-content-slider-banner>
              <picture class="banner__picture picture">
                <img
                  src="http://rosanalitica.dubaua.ru/images/content-slider/content-slide.png"
                  alt="Отзывы"
                  class="picture__image"
                />
              </picture>
              <div class="banner__overlay">
                Индивидуальные решения<br /><strong
                  >для&nbsp;каждого<br />клиента</strong
                >
              </div>
              <div class="banner__link">
                <a href="#" class="button button--quiet">О компании</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-content-slider-slide>
          <div class="container">
            <div class="banner banner--slider">
              <picture class="banner__picture picture">
                <img
                  src="http://rosanalitica.dubaua.ru/images/content-slider/content-slide.png"
                  alt="Отзывы"
                  class="picture__image"
                />
              </picture>
              <div class="banner__overlay">
                Индивидуальные решения<br /><strong
                  >для&nbsp;каждого<br />клиента</strong
                >
              </div>
              <div class="banner__link">
                <a href="#" class="button button--quiet">О компании</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-content-slider-slide>
          <div class="container">
            <div class="banner banner--slider">
              <picture class="banner__picture picture">
                <img
                  src="http://rosanalitica.dubaua.ru/images/content-slider/content-slide.png"
                  alt="Отзывы"
                  class="picture__image"
                />
              </picture>
              <div class="banner__overlay">
                Индивидуальные решения<br /><strong
                  >для&nbsp;каждого<br />клиента</strong
                >
              </div>
              <div class="banner__link">
                <a href="#" class="button button--quiet">О компании</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-slider__controls" data-content-slider-controls>
      <div class="container">
        <div class="content-slider__controls-inner">
          <svg
            class="content-slider__navigation-button content-slider__navigation-button--next"
          >
            <use xlink:href="#arrow" />
          </svg>

          <div class="content-slider__progress">
            <span
              class="content-slider__progress-current"
              data-content-slider-current
              >2</span
            >
            <span
              class="content-slider__progress-total"
              data-content-slider-total
              >3</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
