<section class="section" data-content-slider>
  <div class="content-slider">
    <div class="swiper-container" data-content-slider-container>
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-content-slider-slide>
          <div class="container">
            <div class="banner" data-content-slider-banner>
              <picture class="banner__picture banner__picture--inverse picture">
                <img
                  src="http://rosanalitica.dubaua.ru/images/testimonials/testimonials-banner.png"
                  alt="Отзывы"
                  class="picture__image"
                />
              </picture>
              <div class="banner__overlay banner__overlay--inverse banner__overlay--brand">Решаем задачи по комплексному оснащению<br>лабораторий <br><strong>уже&nbsp;11&nbsp;лет</strong></div>
              <div class="banner__link banner__link--inverse">
                <a href="#" class="button button--quiet">Отзывы клиентов</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-slider__controls" data-content-slider-controls>
      <div class="container">
        <div class="content-slider__controls-inner">
          <svg
            class="content-slider__navigation-button content-slider__navigation-button--next"
          >
            <use xlink:href="#arrow" />
          </svg>

          <div class="content-slider__progress">
            <span
              class="content-slider__progress-current"
              data-content-slider-current
              >2</span
            >
            <span
              class="content-slider__progress-total"
              data-content-slider-total
              >3</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
