<section class="section section--highlight-bottom">
  <div class="container">
    <div class="banner">
      <picture class="banner__picture picture">
        <img
          src="http://rosanalitica.dubaua.ru/images/content-slider/content-slide.png"
          alt="Отзывы"
          class="picture__image"
        />
      </picture>
      <div class="banner__overlay">
        Индивидуальные решения<br /><strong>для&nbsp;каждого<br />клиента</strong>
      </div>
      <div class="banner__link">
        <a href="#" class="button button--quiet">О компании</a>
      </div>
    </div>
  </div>
</section>
