<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-xl-3">
        <img src="http://rosanalitica.dubaua.ru/images/footer-logo.svg" alt="Name" />
      </div>
      <div class="col col-xl-3">
        <ul class="footer-menu">
          <li class="footer-menu__item">
            <a href="/">Каталог</a>
            <ul class="footer-menu footer-menu--child">
              <li class="footer-menu__item"><a href="/catalog/11-laboratornaya-posuda"> Лабораторная посуда </a></li>
              <li class="footer-menu__item">
                <a href="/catalog/12-spetsializirovannoe-oborudovanie"> Специализированное оборудование </a>
              </li>
              <li class="footer-menu__item">
                <a href="/catalog/13-laboratornoe-oborudovanie"> Лабораторное оборудование </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col col-xl-4">
        <ul class="footer-menu footer-menu--site">
          <li class="footer-menu__item"><a href="/about">О компании</a></li>
          <li class="footer-menu__item"><a href="/contacts">Контакты</a></li>
          <li class="footer-menu__item"><a href="/jobs">Вакансии</a></li>
          <li class="footer-menu__item"><a href="/special">Акции</a></li>
          <li class="footer-menu__item"><a href="/news">Новости</a></li>
          <li class="footer-menu__item"><a href="/partners">Партнеры</a></li>
          <li class="footer-menu__item"><a href="/klienty">Клиенты</a></li>
          <li class="footer-menu__item"><a href="/testimonials">Отзывы</a></li>
        </ul>
      </div>
      <div class="col col-xl-2">
        <a href="/" class="footer__contact footer__contact--city">Санкт-Петербруг</a>
        <a href="/" class="footer__contact">+7 812 467-34-74</a>
        <a href="/" class="footer__contact">info@spectranalit.ru</a>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-3 col-xl-offset-3">
        <div class="footer__muted">ⓘ Политика конфиденциальности</div>
      </div>
      <div class="col col-xl-4">
        <div class="footer__muted">ⓘ Согласие на обработку персональных данных</div>
      </div>
      <div class="col col-xl-2">
        <div class="footer__muted">© ООО «Росаналитика», 2020</div>
      </div>
    </div>
  </div>
</footer>
