<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-xl-3">
        <a href="/" class="footer__logo">
          <img src="http://rosanalitica.dubaua.ru/images/logo-footer.svg" alt="Name" />
        </a>
      </div>
      <div class="col col-xl-3">
        <ul class="footer-menu">
          <li class="footer-menu__item">
            <a href="/"><span>Каталог</span></a>
            <ul class="footer-menu footer-menu--child">
              <li class="footer-menu__item"><a href="/catalog/11-laboratornaya-posuda"><span>Лабораторная посуда</span></a></li>
              <li class="footer-menu__item">
                <a href="/catalog/12-spetsializirovannoe-oborudovanie"><span>Специализированное оборудование</span></a>
              </li>
              <li class="footer-menu__item">
                <a href="/catalog/13-laboratornoe-oborudovanie"><span>Лабораторное оборудование</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col col-xl-4">
        <ul class="footer-menu footer-menu--site">
          <li class="footer-menu__item"><a href="/about"><span>О компании</span></a></li>
          <li class="footer-menu__item"><a href="/contacts"><span>Контакты</span></a></li>
          <li class="footer-menu__item"><a href="/jobs"><span>Вакансии</span></a></li>
          <li class="footer-menu__item"><a href="/specials"><span>Акции</span></a></li>
          <li class="footer-menu__item"><a href="/news"><span>Новости</span></a></li>
          <li class="footer-menu__item"><a href="/partners"><span>Партнеры</span></a></li>
          <li class="footer-menu__item"><a href="/klienty"><span>Клиенты</span></a></li>
          <li class="footer-menu__item"><a href="/testimonials"><span>Отзывы</span></a></li>
        </ul>
      </div>
      <div class="col col-xl-2">
        <ul class="city-contacts city-contacts--footer">
          <li class="city-contacts__contact city-contacts__contact--city" data-choose-city="">
            <a href="/">Санкт-Петербург</a>
          </li>
          <li class="city-contacts__contact"><a href="tel:+78124673474">+7 812 467-34-74</a></li>
          <li class="city-contacts__contact"><a href="mailto:spb@spectranalit.ru">spb@spectranalit.ru</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__muted">
      <div class="row">
        <div class="col col-xl-7 col-xl-offset-3">
          <ul class="legal-menu">
            <li class="legal-menu__item">
              <a href="/politika-konfidentsial-nosti">Политика конфиденциальности</a>
            </li>
            <li class="legal-menu__item">
              <a href="/soglasie-na-obrabotku-personal-nykh-dannykh">Согласие на обработку персональных данных</a>
            </li>
          </ul>
        </div>
        <div class="col col-xl-2">
          <div class="footer__copy">© ООО «Росаналитика», 2020</div>
        </div>
      </div>
    </div>
  </div>
</footer>
