<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-xs-2 col-xl-2 col-xs-middle">
        <a href="/" class="header__logo">
          <img src="http://rosanalitica.dubaua.ru/images/logo.svg" alt="Росаналитика" class="header__logo-desktop" />
          <img
            src="http://rosanalitica.dubaua.ru/images/logo-mobile.svg"
            alt="Росаналитика"
            class="header__logo-mobile"
          />
        </a>
      </div>

      <div class="col col-xs-2 col-xl-10">
        <div class="header__main" data-header-main>
          <ul class="city-contacts city-contacts--header">
            <li class="city-contacts__contact city-contacts__contact--city dropdown">
              <span class="dropdown__selected">Санкт-Петербург</span>
              <div class="dropdown__options">
                <a class="dropdown__item" href="/set-city?cityId=24">Казань</a>
                <a class="dropdown__item" href="/set-city?cityId=23">Екатеринбург</a>
                <a class="dropdown__item" href="/set-city?cityId=22">Москва</a>
                <a class="dropdown__item" href="/set-city?cityId=21">Санкт-Петербург</a>
              </div>
            </li>
            <li class="city-contacts__contact">
              <a href="tel:+78124673474">+7 812 467-34-74</a>
            </li>
            <li class="city-contacts__contact">
              <a href="mailto:spb@spectranalit.ru">spb@spectranalit.ru</a>
            </li>
          </ul>

          <ul class="navigation navigation--header">
            <li class="navigation__item" data-catalog-toggler>
              <a href="/catalog.html">Каталог</a>
            </li>
            <li class="navigation__item">
              <a href="/about.html">О компании</a>
            </li>
            <li class="navigation__item">
              <a href="/partners.html">Партнеры</a>
            </li>
            <li class="navigation__item">
              <a href="/contacts.html">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header__burger hamburger hamburger--slider" id="hamburger" data-hamburger>
      <span class="hamburger-box">
        <span class="hamburger-inner"> </span>
      </span>
    </div>
  </div>

  <div class="header__hamburger-menu hamburger-menu" data-hamburger-menu data-simplebar>
    <div class="hamburger-menu__inner">
      <form class="search">
        <input type="text" class="search__input" placeholder="Найти товар в каталоге" />
        <button class="search__button" type="submit">
          <svg class="search__icon">
            <use xlink:href="#search" />
          </svg>
        </button>
      </form>

      <ul class="navigation navigation--hamburger-menu">
        <li class="navigation__item" data-catalog-mobile-toggler>
          <a href="/catalog.html">Каталог</a>
        </li>
        <li class="navigation__item">
          <a href="/about.html">О компании</a>
        </li>
        <li class="navigation__item">
          <a href="/contacts.html">Контакты</a>
        </li>
        <li class="navigation__item">
          <a href="/jobs.html">Вакансии</a>
        </li>
        <li class="navigation__item">
          <a href="/special.html">Акции</a>
        </li>
        <li class="navigation__item">
          <a href="/news.html">Новости</a>
        </li>
        <li class="navigation__item">
          <a href="/partners.html">Партнеры</a>
        </li>
        <li class="navigation__item">
          <a href="/clients.html">Клиенты</a>
        </li>
        <li class="navigation__item">
          <a href="/testimonials.html">Отзывы</a>
        </li>
      </ul>

      <ul class="city-contacts city-contacts--hamburger-menu">
        <li class="city-contacts__contact">
          <div class="city-contacts__contact-link city-contacts__contact-link--city" data-choose-city>
            <svg class="city-contacts__contact-icon city-contacts__contact-icon--pin">
              <use xlink:href="#pin" />
            </svg>
            <a href="">Санкт-Петербург</a>
          </div>
        </li>
        <li class="city-contacts__contact">
          <div class="city-contacts__contact-link">
            <svg class="city-contacts__contact-icon city-contacts__contact-icon--phone">
              <use xlink:href="#phone" />
            </svg>
            <a href="tel:+78124673474">+7 812 467-34-74</a>
          </div>
        </li>
        <li class="city-contacts__contact">
          <div class="city-contacts__contact-link">
            <svg class="city-contacts__contact-icon city-contacts__contact-icon--email">
              <use xlink:href="#email" />
            </svg>
            <a href="mailto:info@spectranalit.ru">info@spectranalit.ru</a>
          </div>
        </li>
      </ul>

      <div class="hamburger-menu__footer">
        <p>© ООО «НПП Спектраналит»</p>
        <p>196084, г. Санкт-Петербург, ул. Цветочная, д. 18, лит В</p>
        <p data-current-year>2020 г.</p>
      </div>
    </div>
  </div>
</header>
