<section class="section">
  <div class="container">
    <div class="news news--homepage">
      <div class="news__header">
        <h2 class="news__title">Новости и события</h2>
        <div class="news__show-all">
          <a href="/news" class="arrow-button">
            <svg class="arrow-button__icon">
              <use
                xlink:href="http://www.rosanalitica.dubaua.ru/#arrow-right-triangle"
                href="#arrow-right-triangle"
              ></use>
            </svg>
            <span class="arrow-button__label"> Все новости<br />и события</span>
          </a>
        </div>
      </div>
      <div class="news__list-scroller">
        <div class="news__list news__list--scrollable">
          <div class="news__item news__item--scrollable">
            <a
              href="/news/64-rosanalitika-postavshchik-oborudovaniya-dlya-npps-tyumen-tyumenskogo-umn-ao-transneft-sibir"
              class="news-item news-item--scrollable"
            >
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/tumen/cover.jpeg"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use
                      xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                      href="#arrow"
                    ></use>
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-10-20 20:58:54">
                20 / 10 / 2020
              </time>
              <h3 class="news-item__title">
                «Росаналитика» поставщик оборудования для НППС «Тюмень»
                Тюменского УМН АО «Транснефть-Сибирь»
              </h3>
              <div class="news-item__read-more-scrollable">
                <svg>
                  <use
                    xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                    href="#arrow"
                  ></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="news__item news__item--scrollable">
            <a
              href="/news/2-nasha-kompaniya-stala-ofitsial-nym-dilerom-metrohm"
              class="news-item news-item--scrollable"
            >
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-1.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use
                      xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                      href="#arrow"
                    ></use>
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-02-28 19:11:53">
                28 / 02 / 2020
              </time>
              <h3 class="news-item__title">
                Наша компания стала официальным дилером Metrohm
              </h3>
              <div class="news-item__read-more-scrollable">
                <svg>
                  <use
                    xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                    href="#arrow"
                  ></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="news__item news__item--scrollable">
            <a
              href="/news/3-vstreche-dilerov-sartorius-rossiya-sng-2019"
              class="news-item news-item--scrollable"
            >
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-2.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use
                      xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                      href="#arrow"
                    ></use>
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-02-12 19:11:53">
                12 / 02 / 2020
              </time>
              <h3 class="news-item__title">
                Встрече дилеров SARTORIUS Россия|СНГ 2019
              </h3>
              <div class="news-item__read-more-scrollable">
                <svg>
                  <use
                    xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                    href="#arrow"
                  ></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="news__item news__item--scrollable">
            <a
              href="/news/4-poluchen-sertifikat-sootvetstviya-trebovaniyam-standarta-gost"
              class="news-item news-item--scrollable"
            >
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-3.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use
                      xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                      href="#arrow"
                    ></use>
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-02-10 19:11:53">
                10 / 02 / 2020
              </time>
              <h3 class="news-item__title">
                Получен сертификат соответствия требованиям стандарта ГОСТ
              </h3>
              <div class="news-item__read-more-scrollable">
                <svg>
                  <use
                    xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                    href="#arrow"
                  ></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="news__item news__item--scrollable">
            <a
              href="/news/5-izmenjonnyj-rezhim-raboty-v-svyazi-s-pandemiej-covid-19"
              class="news-item news-item--scrollable"
            >
              <figure class="news-item__picture">
                <img
                  class="news-item__image"
                  src="http://rosanalitica.dubaua.ru/images/news/news-4.png"
                  alt=""
                />
                <div class="news-item__read-more">
                  <svg>
                    <use
                      xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                      href="#arrow"
                    ></use>
                  </svg>
                </div>
              </figure>
              <time class="news-item__date" datetime="2020-01-30 19:14:08">
                30 / 01 / 2020
              </time>
              <h3 class="news-item__title">
                Изменённый режим работы в связи с пандемией COVID-19
              </h3>
              <div class="news-item__read-more-scrollable">
                <svg>
                  <use
                    xlink:href="http://www.rosanalitica.dubaua.ru/#arrow"
                    href="#arrow"
                  ></use>
                </svg>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
