<section class="section">
  <div class="container">
    <div class="newsfeed">
      <div class="newsfeed__header">
        <h2 class="newsfeed__title">Новости и&nbsp;события</h2>
        <div class="newsfeed__show-all">
          <a href="/news" class="arrow-button">
            <svg class="arrow-button__icon">
              <use xlink:href="#arrow-right-triangle" />
            </svg>
            <span class="arrow-button__label"> Все новости<br />и события </span>
          </a>
        </div>
      </div>
      <div class="newsfeed__list">
        <a href="/news/2-nasha-kompaniya-stala-ofitsial-nym-dilerom-metrohm" class="newsfeed__link">
          <time datetime="2020-02-28 19:11:53">2020 / 02 / 28</time>
          <h3 class="newsfeed__item-title">Наша компания стала официальным дилером Metrohm</h3>
          <figure class="newsfeed__picture">
            <img class="newsfeed__image" src="http://rosanalitica.dubaua.ru/images/news/news-1.png" alt="" />
          </figure>
          <svg class="newsfeed__arrow">
            <use xlink:href="#newsfeed-arrow" />
          </svg>
        </a>
        <a href="/news/3-vstreche-dilerov-sartorius-rossiya-sng-2019" class="newsfeed__link"
          ><time datetime="2020-02-12 19:11:53">2020 / 02 / 12</time>
          <h3 class="newsfeed__item-title">Встрече дилеров SARTORIUS Россия|СНГ 2019</h3>
          <figure class="newsfeed__picture">
            <img class="newsfeed__image" src="http://rosanalitica.dubaua.ru/images/news/news-2.png" alt="" />
          </figure>
          <svg class="newsfeed__arrow">
            <use xlink:href="#newsfeed-arrow" />
          </svg>
        </a>
        <a href="/news/4-poluchen-sertifikat-sootvetstviya-trebovaniyam-standarta-gost" class="newsfeed__link"
          ><time datetime="2020-02-10 19:11:53">2020 / 02 / 10</time>
          <h3 class="newsfeed__item-title">Получен сертификат соответствия требованиям стандарта ГОСТ</h3>
          <figure class="newsfeed__picture">
            <img class="newsfeed__image" src="http://rosanalitica.dubaua.ru/images/news/news-3.png" alt="" />
          </figure>
          <svg class="newsfeed__arrow">
            <use xlink:href="#newsfeed-arrow" />
          </svg>
        </a>
        <a href="/news/5-izmenjonnyj-rezhim-raboty-v-svyazi-s-pandemiej-covid-19" class="newsfeed__link"
          ><time datetime="2020-01-30 19:14:08">2020 / 01 / 30</time>
          <h3 class="newsfeed__item-title">Изменённый режим работы в связи с пандемией COVID-19</h3>
          <figure class="newsfeed__picture">
            <img class="newsfeed__image" src="http://rosanalitica.dubaua.ru/images/news/news-4.png" alt="" />
          </figure>
          <svg class="newsfeed__arrow">
            <use xlink:href="#newsfeed-arrow" />
          </svg>
        </a>
        <a href="/news/6-ooo-spektranalit-ofitsial-nym-diler-ooo-monitoring" class="newsfeed__link"
          ><time datetime="2020-01-14 19:14:27">2020 / 01 / 14</time>
          <h3 class="newsfeed__item-title">ООО «Спектраналит» — официальным дилер ООО «Мониторинг»</h3>
          <figure class="newsfeed__picture">
            <img class="newsfeed__image" src="http://rosanalitica.dubaua.ru/images/news/news-5.png" alt="" />
          </figure>
          <svg class="newsfeed__arrow">
            <use xlink:href="#newsfeed-arrow" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
