<div class="row">
  <div class="col col-xs-2 col-xl-8 col-xl-offset-1">
    <ul class="pager">
      <li class="pager__item">
        <a href="/" class="pager__link pager__link--prev">
          <svg aria-hidden="true">
            <use xlink:href="#arrow" />
          </svg>
          <span class="pager__label" aria-hidden="true">предыдущая новость</span>
        </a>
      </li>
      <li class="pager__item">
        <a href="/" class="pager__link pager__link--next">
          <span class="pager__label" aria-hidden="true">следующая новость</span>
          <svg aria-hidden="true">
            <use xlink:href="#arrow" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

