<div class="container">
  <nav class="pagination" role="navigation" aria-label="Разбиение на страницы">
    <ul class="pagination__list">
      <li class="pagination__item pagination__item--arrow pagination__item--arrow-prev pagination__item--disabled">
        <a href="" class="pagination__arrow pagination__arrow--prev">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="pagination__item pagination__item--arrow pagination__item--arrow-next">
        <a href="" class="pagination__arrow pagination__arrow--next">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="pagination__item pagination__item--active">
        <a
          aria-current="true"
          class="pagination__item-link"
          aria-label="Страница 1"
          >1</a
        >
      </li>
      <li class="pagination__item pagination__item--hidden-mobile">
        <a
          title="2"
          href="/news?start=3"
          class="pagination__item-link"
          aria-label="Перейти на страницу 2"
          >2</a
        >
      </li>
      <li class="pagination__item pagination__item--disabled pagination__item--hidden-mobile">
        <a
          title="3"
          href="/news?start=6"
          class="pagination__item-link"
          aria-label="Перейти на страницу 3"
          >3</a
        >
      </li>
      <li class="pagination__item pagination__item--hidden-mobile">
        <a
          title="4"
          href="/news?start=9"
          class="pagination__item-link"
          aria-label="Перейти на страницу 4"
          >4</a
        >
      </li>
      <li class="pagination__item pagination__item--hidden-mobile">
        <a
          title="5"
          href="/news?start=12"
          class="pagination__item-link"
          aria-label="Перейти на страницу 5"
          >...</a
        >
      </li>
      <li class="pagination__item pagination__item--hidden-mobile">
        <a
          title="6"
          href="/news?start=15"
          class="pagination__item-link"
          aria-label="Перейти на страницу 6"
          >6</a
        >
      </li>
      <li class="pagination__item pagination__item--hidden-mobile">
        <a
          title="7"
          href="/news?start=18"
          class="pagination__item-link"
          aria-label="Перейти на страницу 7"
          >7</a
        >
      </li>
    </ul>
  </nav>
</div>
