<section class="section">
  <div class="container">
    <div class="companies">
      <div class="companies__header">
        <h2 class="companies__title">Наши партнёры</h2>
        <div class="companies__show-all">
          <a href="/partners" class="arrow-button">
            <svg class="arrow-button__icon">
              <use xlink:href="#arrow-right-triangle" />
            </svg>
            <span class="arrow-button__label">Все<br>Партнеры</span>
          </a>
        </div>
      </div>
      <div class="companies__list">
        <div class="row">
          <div class="col col-xxs-2 col-md-2 col-xl-3">
            <a href="/partners/10-spektron" class="company">
              <figure class="company__picture">
                <img
                  class="company__image"
                  src="http://rosanalitica.dubaua.ru/images/partners/spektron.png"
                  alt="Спектрон"
                />
              </figure>
              <span class="companies__description">
                <p>Рентгенофлуоресцентные спектрометры и анализаторы</p>
              </span>
            </a>
          </div>
          <div class="col col-xxs-2 col-md-2 col-xl-3">
            <a href="/partners/9-ritter" class="company">
              <figure class="company__picture">
                <img
                  class="company__image"
                  src="http://rosanalitica.dubaua.ru/images/partners/ritter.png"
                  alt="Ritter"
                />
              </figure>
              <span class="company__description">
                <p>Газовые счетчики для лабораторий высокой точности</p>
              </span>
            </a>
          </div>
          <div class="col col-xxs-2 col-md-2 col-xl-3">
            <a href="/partners/8-agilent-technologies" class="company">
              <figure class="company__picture">
                <img
                  class="company__image"
                  src="http://rosanalitica.dubaua.ru/images/partners/agilent-technologies.png"
                  alt="Agilent Technologies"
                />
              </figure>
              <span class="company__description">
                <p>Признанный мировой лидер в области измерений</p>
              </span>
            </a>
          </div>
          <div class="col col-xxs-2 col-md-2 col-xl-3">
            <a href="/partners/7-sartorius" class="company">
              <figure class="company__picture">
                <img
                  class="company__image"
                  src="http://rosanalitica.dubaua.ru/images/partners/sartorius.png"
                  alt="Sartorius"
                />
              </figure>
              <span class="company__description">
                <p>Всемирно известное решение для взвешивания</p>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
