<section class="section">
  <div class="container">
    <div class="companies">
      <div class="companies__header">
        <h2 class="companies__title">Наши партнёры</h2>
        <div class="companies__show-all">
          <a href="/partners" class="arrow-button">
            <svg class="arrow-button__icon">
              <use xlink:href="#arrow-right-triangle" />
            </svg>
            <span class="arrow-button__label">Все Партнеры</span>
          </a>
        </div>
      </div>
      <div class="companies__list">
        <a href="/partners/10-spektron" class="companies__link">
          <figure class="companies__picture">
            <img
              class="companies__image"
              src="http://rosanalitica.dubaua.ru/images/partners/spektron.png"
              alt="Спектрон"
            />
          </figure>
          <span class="companies__description">
            <p>Рентгенофлуоресцентные спектрометры и анализаторы</p>
          </span> </a
        ><a href="/partners/9-ritter" class="companies__link">
          <figure class="companies__picture">
            <img
              class="companies__image"
              src="http://rosanalitica.dubaua.ru/images/partners/ritter.png"
              alt="Ritter"
            />
          </figure>
          <span class="companies__description">
            <p>Газовые счетчики для лабораторий высокой точности</p>
          </span> </a
        ><a href="/partners/8-agilent-technologies" class="companies__link">
          <figure class="companies__picture">
            <img
              class="companies__image"
              src="http://rosanalitica.dubaua.ru/images/partners/agilent-technologies.png"
              alt="Agilent Technologies"
            />
          </figure>
          <span class="companies__description">
            <p>Признанный мировой лидер в области измерений</p>
          </span> </a
        ><a href="/partners/7-sartorius" class="companies__link">
          <figure class="companies__picture">
            <img
              class="companies__image"
              src="http://rosanalitica.dubaua.ru/images/partners/sartorius.png"
              alt="Sartorius"
            />
          </figure>
          <span class="companies__description">
            <p>Всемирно известное решение для взвешивания</p>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>