<div class="product-list-heading">
  <h2 class="product-list-heading__title">Сопутствующие товары</h2>

  <div
    class="product-list-heading__product-type product-type"
    data-product-toggle
  >
    <div
      class="product-type__toggler product-type__toggler--card"
      data-product-type-toggler
      data-product-type="card"
    >
      <svg>
        <use xlink:href="#product-type-card" />
      </svg>
    </div>

    <div
      class="product-type__toggler product-type__toggler--list"
      data-product-type-toggler
      data-product-type="list"
    >
      <svg>
        <use xlink:href="#product-type-list" />
      </svg>
    </div>
  </div>
</div>
