<div class="product-list product-list--card" data-product-list>
  <a
    href="/product.html"
    class="product-card"
    data-product
    data-product-id="123"
  >
    <div class="product-card__inner">
      <div class="product-card__expander">
        <div class="product-card__image product-card__image--compact">
          <img
            src="http://www.rosanalitica.dubaua.ru/images/catalog-preview-test.jpg"
            alt="Лабораторные весы Cubis 10202S"
          />
        </div>

        <div class="product-card__card-content">
          <h3 class="product-card__title" data-product-title>
            Лабораторные весы Cubis 10202S
          </h3>

          <div class="product-card__image product-card__image--card">
            <img
              src="http://www.rosanalitica.dubaua.ru/images/catalog-preview-test.jpg"
              alt="Лабораторные весы Cubis 10202S"
            />
          </div>

          <div class="product-card__info">
            <div class="product-card__description">
              <p>
                Весы Cubis® — это первая полностью модульная серия лабораторных
                весов.
              </p>
            </div>

            <div class="product-card__bottom">
              <div class="product-card__price">
                <div class="product-card__old-price">152 500 ₽</div>
                <div class="product-card__new-price">132 500 ₽</div>
              </div>

              <button
                class="button button--quiet product-card__button"
                data-product-button
                type="button"
              >
                Заказать
              </button>

              <div class="product-card__novelty">Новинка</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a
    href="/product.html"
    class="product-card"
    data-product
    data-product-id="123"
  >
    <div class="product-card__inner">
      <div class="product-card__expander">
        <div class="product-card__image product-card__image--compact">
          <img
            src="http://www.rosanalitica.dubaua.ru/images/catalog-preview-test.jpg"
            alt="Лабораторные весы Cubis 10202S"
          />
        </div>

        <div class="product-card__card-content">
          <h3 class="product-card__title" data-product-title>
            Лабораторные весы Cubis 10202S
          </h3>

          <div class="product-card__image product-card__image--card">
            <img
              src="http://www.rosanalitica.dubaua.ru/images/catalog-preview-test.jpg"
              alt="Лабораторные весы Cubis 10202S"
            />
          </div>

          <div class="product-card__info">
            <div class="product-card__description">
              <p>
                Весы Cubis® — это первая полностью модульная серия лабораторных
                весов.
              </p>
            </div>

            <div class="product-card__bottom">
              <div class="product-card__price">
                <div class="product-card__new-price">132 500 ₽</div>
              </div>

              <button
                class="button button--quiet product-card__button"
                data-product-button
                type="button"
              >
                Заказать
              </button>

              <div class="product-card__novelty">Новинка</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a
    href="/product.html"
    class="product-card"
    data-product
    data-product-id="123"
  >
    <div class="product-card__inner">
      <div class="product-card__expander">
        <div class="product-card__image product-card__image--compact">
          <img
            src="http://www.rosanalitica.dubaua.ru/images/catalog-preview-test.jpg"
            alt="Лабораторные весы Cubis 10202S"
          />
        </div>

        <div class="product-card__card-content">
          <h3 class="product-card__title" data-product-title>
            Лабораторные весы Cubis 10202S Лабораторные весы Cubis 10202S
          </h3>

          <div class="product-card__image product-card__image--card">
            <img
              src="http://www.rosanalitica.dubaua.ru/images/catalog-preview-test.jpg"
              alt="Лабораторные весы Cubis 10202S"
            />
          </div>

          <div class="product-card__info">
            <div class="product-card__description">
              <p>
                Весы Cubis® — это первая полностью модульная серия лабораторных
                весов.
              </p>
            </div>

            <div class="product-card__bottom">
              <button
                class="button button--quiet product-card__button"
                data-product-button
                type="button"
              >
                запросить цену
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
