<section class="section section--narrow section--highlight-from-top">
  <div class="services">
    <div class="container">
      <div class="row row-md-center row-lg-center row-xl-center row-xxl-center row-xxxl-center">
        <div class="col col-xs-2 col-sm-2 col-xl-4">
          <div class="services__service service">
            <img
              src="http://rosanalitica.dubaua.ru/images/services/service.png"
              alt="Сервисная служба"
              class="service__image"
            />

            <h2 class="service__title">Сервисная служба</h2>

            <p class="service__description">
              Мы оказываем услуги по поверке, наладке и аттестации поставляемого
              оборудования, осуществляем ремонт и техническое обслуживание.
            </p>
          </div>
        </div>

        <div class="col col-xs-2 col-sm-2 col-xl-4">
          <div class="services__service service">
            <img
              src="http://rosanalitica.dubaua.ru/images/services/technical-service.png"
              alt="Техобслуживание"
              class="service__image"
            />

            <h2 class="service__title">Техобслуживание</h2>

            <p class="service__description">
              Занимаемся техническим обслуживанием хроматографов, титраторов,
              газоанализаторов и многих других видов приборов.
            </p>
          </div>
        </div>

        <div class="col col-xs-2 col-sm-2 col-xl-4">
          <div class="services__service service">
            <img
              src="http://rosanalitica.dubaua.ru/images/services/consulting.png"
              alt="Консалтинг"
              class="service__image"
            />

            <h2 class="service__title">Консалтинг</h2>

            <p class="service__description">
              Проводим консультации и обучение сотрудников. Проводим
              консультации и обучение сотрудников.
            </p>
          </div>
        </div>

        <div class="col col-xs-2 col-sm-2 col-xl-4">
          <div class="services__service service">
            <img
              src="http://rosanalitica.dubaua.ru/images/services/guarantee.png"
              alt="Гарантия качества"
              class="service__image"
            />

            <h2 class="service__title">Гарантия качества</h2>

            <p class="service__description">
              Вся продукция, представленная в каталоге, сертифицирована.
            </p>
          </div>
        </div>

        <div class="col col-xs-2 col-sm-2 col-xl-4">
          <div class="services__service service">
            <img
              src="http://rosanalitica.dubaua.ru/images/services/special-solutions.png"
              alt="Сервисная служба"
              class="service__image"
            />

            <h2 class="service__title">Индивидуальные решения</h2>

            <p class="service__description">
              Мы находим индивидуальные решения для каждого клиента — от
              крупного предприятия до небольшой лаборатории.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
