<section class="slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="slider__slide slide">
            <div class="row">
              <div class="col col-xs-2 col-md-2">
                <div class="slide__content">
                  <div class="slide__heading">
                    <div class="slide__title">Газовые счетчики Ritter</div>
                    <p class="slide__description">
                      Счетчики газа барабанного типа. Высочайшая точность во
                      всем диапазоне скоростного потока.
                    </p>
                  </div>
                  <a href class="button slide__button">в раздел каталога</a>
                </div>
              </div>
              <div class="col col-xs-2 col-md-2 col-xs-first col-sm-first">
                <div class="slide__image">
                  <img
                    src="http://rosanalitica.dubaua.ru/images/special/slide-1.jpg"
                    alt="Газовые счетчики Ritter"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="slider__slide slide">
            <div class="row">
              <div class="col col-xs-2 col-md-2">
                <div class="slide__content">
                  <div class="slide__heading">
                    <div class="slide__title">Весы Sartorius Cubis® II</div>
                    <p class="slide__description">
                      Модульные лабораторные весы для достижения максимальной
                      эффективности и непревзойденной гибкости
                    </p>
                  </div>
                  <a href class="button slide__button">в раздел каталога</a>
                </div>
              </div>
              <div class="col col-xs-2 col-md-2 col-xs-first col-sm-first">
                <div class="slide__image">
                  <img
                    src="http://rosanalitica.dubaua.ru/images/special/slide-2.jpg"
                    alt="Весы Sartorius Cubis® II"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <div class="slider__slide slide">
            <div class="row">
              <div class="col col-xs-2 col-md-2">
                <div class="slide__content">
                  <div class="slide__heading">
                    <div class="slide__title">Титраторы Metrohm</div>
                    <p class="slide__description">
                      Надежные и точные титраторы для вашей лаборатории.
                    </p>
                  </div>
                  <a href class="button slide__button">в раздел каталога</a>
                </div>
              </div>
              <div class="col col-xs-2 col-md-2 col-xs-first col-sm-first">
                <div class="slide__image">
                  <img
                    src="http://rosanalitica.dubaua.ru/images/special/slide-3.jpg"
                    alt="Титраторы Metrohm"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider__navigation">
    <svg class="slider__navigation-button slider__navigation-button--prev">
      <use xlink:href="#arrow" />
    </svg>
    <svg class="slider__navigation-button slider__navigation-button--next">
      <use xlink:href="#arrow" />
    </svg>
  </div>

  <div class="container">
    <div class="slider__pagination swiper-pagination"></div>
  </div>
</section>
